* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    width: 100%;
    font-family: "Roboto";
}

/*////////////////// MAIN //////////////////////*/
main {
    background-color: white;
}
.franja-decorativa {
    height: 20px;
    font-size: 4vw;
    margin: 20px 0px;
    background-color: #9BB1C5;
}
/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/
main section article.food {
    display: flex;
    flex-direction:column;   
}

.title-product {          /*////////// TITULO DE CADA EXPERIENCIA /////////////*/
    font-size: 6vw;
    margin-top: 10px;
    text-align: center;
}

.description {                      
    font-size: 14px;
    margin-left: 11px;
    margin-top: 25px;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: right;
}

.imagen-product  {
    width: 80%;
    margin-top: 15px;
}
.imagen-product img {
    width: 100%;
    height: 100%;
    margin-left: 15px;
}


/*/////////////////////     BOTONES             //////////////////////*/
main section article div.gourmet-description {
    display: flex; 
    flex-direction: column;
    margin: 25px 0px;
    align-items: center;
}

main section article div.button {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    width: 100px;
    height: 25px;
    border-color: #5E81A3;
    border-radius: 20px;
    align-items: center;
    background-color: #9BB1C5;
}

.less-button, .more-button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 10px;
}

.add-basket, .buy {
    background-color: #9BB1C5;
    margin-top: 20px;
    border-radius: 10px;
    width: 150px;
   
}

.info-exp div.button{
    margin-left: 80px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.info-exp {
    margin-top: 15px;  
    margin-left: 15px; 
}
.info-exp h3 {
    
    font-size: 18px;
}

.info-exp p {
    margin-top: 20px;
    font-size: 14px;
}
.info-exp p i{
    color: #6c8fb1;
    font-size: 1.2em;
}
.info-exp p.price {
    font-size: 16px;
    color: black;
    margin-left: -180px;
    margin-top: 27px;
}


 /*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/

 .total-buy {
     display: flex;
     flex-direction: column;
 }

.buy-list ul {
    margin-left: 40px;
}

.buy-list h2 {
    font-size: 17px;
}

.buy-list p {
    margin: 10px 14px;
}

.buy {
    align-self: center;
}

/*////////////////////////        MEDIAS QUERIES                /////////////////////////////////*/

@media(min-width:768px) {

/*////////////////// MAIN //////////////////////*/

.description {
    font-size: 20px;
}

/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/
.product-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    height: 400px;
}

.imagen-product {
    width: 40%;
}

.info-exp {
    margin-top: 45px;
    height: 358.86px;
}
.info-exp h3, .info-exp p{
    font-size: 18px;
}


/*/////////////////////     BOTONES             //////////////////////*/

p.price {
    font-size: 25px;
}

.add-basket, .buy {
    font-size: 18px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/
.buy-list h2 {
    font-size: 22px;
    margin-left: 15px;
}

.buy-list p {
    margin: 10px 45px;
}

.buy-list ul {
    margin-left: 90px;
}

main section article div.gourmet-description{
    margin-left: 320px;
}
}

@media(min-width:1024px) {
    
/*////////////////// MAIN //////////////////////*/

.description {
    font-size: 25px;
}

/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/
.product-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    height: 400px;
}

.imagen-product {
    width: 40%;
}

.info-exp {
    margin-top: 45px;
    height: 478px;
}
section article div.info-exp h3 {
    color:#9BB1C5;
    font-size: 25px;
}

.info-exp p {
    margin-top: 20px;
    font-size: 20px;
}


/*/////////////////////     BOTONES             //////////////////////*/

main section article div.gourmet-description {
    margin: 60px 0px;
    margin-left: 456px;
}
p.price {
    font-size: 25px;
}

.add-basket, .buy {
    font-size: 20px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/
.buy-list h2 {
    font-size: 25px;
    margin-left: 15px;
}

.buy-list p {
    margin: 10px 45px;
    font-size: 25px;
}

.buy-list ul {
    margin-left: 90px;
}

}
@media (min-width:1440px){

    
    .title-product{
        font-size: 4vw;
    }
    .description{
        margin-left: 42px;
    }

}

