* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    font-family: "Roboto";
}

/*/////////////// HEADER ///////////////////*/
.menu-superior{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
a.menu, a.shop {
    display: none;
}

.logo{
    font-size: 12px;
    margin-left: 15px;
   
}
.logo a {
    text-decoration: none;
    color: black;
}
.barra{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 50%;
    height: 28px;
    margin-left: -35px;
    position: relative;
}
.barra input {
    border: none;
    background-color: transparent;
    padding-left: 10%;
    height: 28px;
}
.fa-search {
    position: absolute;
    top: 5px;
    right: 5%;
}
.barra p{
    padding: 10px;
    font-size: 18px;
}
.search{
    padding: 5px;
    font-size: 125%;
}
.user{
    margin-right: 15px;  
    font-size: 1.3em;
    color: #5E81A3;
}

.menu-inferior{
    display: none;
}
/*////////////////// MAIN //////////////////////*/
main {
    background-color: white;
}
.franja-decorativa {
    height: 20px;
    font-size: 4vw;
    margin: 20px 0px;
    background-color: #9BB1C5;
}
/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/
main section article.food {
    display: flex;
    flex-direction:column;   
}

.title-product {          /*////////// TITULO DE CADA EXPERIENCIA /////////////*/
    font-size: 6vw;
    margin-top: 10px;
    text-align: center;
}

.description {                      
    font-size: 14px;
    margin-left: 11px;
    margin-top: 25px;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: right;
}

.imagen-product  {
    width: 80%;
    margin-top: 15px;
}
.imagen-product img {
    width: 100%;
    height: 100%;}


/*/////////////////////     BOTONES             //////////////////////*/
main section article div.gourmet-description {
    display: flex; 
    flex-direction: column;
    margin: 25px 0px;
    align-items: center;
}

main section article div.button {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    width: 100px;
    height: 25px;
    background-color: #9BB1C5;
    border-radius: 20px;
    align-items: center;
}

.less-button, .more-button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 10px;
}

.add-basket, .buy {
    background-color: #9BB1C5;
    margin-top: 20px;
    border-radius: 10px;
    width: 150px;
}

.info-exp div.button{
    margin-left: 80px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.info-exp {
    margin-top: 15px;   
}

section article div.info-exp h3 {
    color:#9BB1C5;
    font-size: 16px;
}

.info-exp p {
    margin-top: 20px;
    font-size: 12px;
}

.info-exp p.price {
    font-size: 16px;
    color: black;
    margin-left: -180px;
    margin-top: 27px;
}


 /*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/

 .total-buy {
     display: flex;
     flex-direction: column;
 }

.buy-list ul {
    margin-left: 40px;
}

.buy-list h2 {
    font-size: 17px;
}

.buy-list p {
    margin: 10px 14px;
}

.buy {
    align-self: center;
}

/*/////////////////////////////     FOOTER     ///////////////////////////////*/ 

footer{
    margin-top: 30px;   
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer h4{
    font-size: 12px;
}
.footer-i{
    font-size: 1em;
    align-self: center;
    
}

footer i {
    margin-right: 20px;
    color: #5E81A3;
}



/*////////////////////////        MEDIAS QUERIES                /////////////////////////////////*/

@media(min-width:768px) {
/*/////////////// HEADER ///////////////////*/
.logo{
    font-size: 20px;
    margin-left: 15px;
}

.barra input {
    padding-left: 5%;
    height: 25px;
}

.user {
    font-size: 1.5em;
}
/*////////////////// MAIN //////////////////////*/

.description {
    font-size: 20px;
}

/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/
.product-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    height: 400px;
}

.imagen-product {
    width: 40%;
}

.info-exp {
    margin-top: 45px;
    height: 358.86px;
}


/*/////////////////////     BOTONES             //////////////////////*/

p.price {
    font-size: 25px;
}

.add-basket, .buy {
    font-size: 18px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/
.buy-list h2 {
    font-size: 22px;
    margin-left: 15px;
}

.buy-list p {
    margin: 10px 45px;
}

.buy-list ul {
    margin-left: 90px;
}

/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 15px;
}

.instagram, .twitter {
    font-size: 25px;
    margin-right: 10px;
}

}

@media(min-width:1024px) {
    /*/////////////// HEADER ///////////////////*/
.logo{
    font-size: 25px;
    margin-left: 20px;
}

.barra {
    height: 33px;
}

.barra input {
    padding-left: 5%;
    height: 30px;
    font-size: 20px;
}

.fa-search{
    font-size: 22px;
}

.user {
    font-size: 1.9em;
}
/*////////////////// MAIN //////////////////////*/

.description {
    font-size: 25px;
}

/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/
.product-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    height: 400px;
}

.imagen-product {
    width: 40%;
}

.info-exp {
    margin-top: 45px;
    height: 478px;
}
section article div.info-exp h3 {
    color:#9BB1C5;
    font-size: 25px;
}

.info-exp p {
    margin-top: 20px;
    font-size: 16px;
}


/*/////////////////////     BOTONES             //////////////////////*/

main section article div.gourmet-description {
    margin: 60px 0px;
}
p.price {
    font-size: 25px;
}

.add-basket, .buy {
    font-size: 20px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/
.buy-list h2 {
    font-size: 25px;
    margin-left: 15px;
}

.buy-list p {
    margin: 10px 45px;
    font-size: 25px;
}

.buy-list ul {
    margin-left: 90px;
}

/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 25px;
}

.instagram, .twitter {
    font-size: 30px;
    margin-right: 15px;
}

}

