* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    width: 100%;
}
/*/////////////// HEADER ///////////////////*/
.menu-superior{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 90%;
    
}
/*.logo, .barra, .search, .user, .shop {
    flex-grow: 1;
}*/
.logo{
    font-size: 12px;
    margin-top: 25px;
    margin-left: 20px;
   
}
.logo a {
    text-decoration: none;
    color: black;
}
.barra{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 50%;
    height: 28px;
    margin-top: 20px;
    margin-left: -35px;
}
.barra p{
    padding: 10px;
    margin-top:-8px;
    font-size: 18px;
}
.search{
    margin-top: 18px;
    margin-left: -120px;
    padding: 5px;
    font-size: 125%;
}
.user{
    display: flex;
    margin-top: 22px;
    margin-right: -15px;
    font-size: 1.3em;
    color: #5E81A3;
}

.menu-inferior{
    display: none;
}
/*////////////////// MAIN //////////////////////*/
main {
    background-color: white;
}
main div.franja-decorativa {
    padding: 25px;
    width: 110%;
    font-size: 4vw;
    text-align: center;
    margin: 20px 0px 20px 0px;
    background-color: #9BB1C5;
}
/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/
main section article.food {
    display: flex;
    flex-direction: row;   
    width: 100%;
}
h3 {                                 /*////////// TITULO DE CADA EXPERIENCIA /////////////*/
    font-size: 6vw;
    margin-left: 100px;
    margin-top: 10px;
    width: 70%;
    position: absolute;
}

.description {                      
    font-size: 14px;
    margin-left: 11px;
    margin-top: 55px;
    position: absolute;
    width: 98%;
}

main section article img {
    width: 30%;
    margin: 127px -67px 300px 15px;
       
}



/*/////////////////////     BOTONES             //////////////////////*/
main section article div.gourmet-description {
    display: flex; 
    margin: 40px 50px;
}

main section article div.button {
    display: flex;
    margin-top: 5px;
}

main section article div.button p{
    margin-top: 4px;
    margin-right: 5px;
}

.less-button {
    width: 20px;
    height: 20px;
    margin-right: 35px;
}

.more-button {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.add-basket {
    background-color: #9BB1C5;
    margin-left: -85px;
    margin-top: 45px;
}

.info-exp div.button{
    margin-left: 104px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.info-exp {
    margin-left: 100px;
    margin-top: 140px;
    
}

section article div.info-exp h3 {
    color:#9BB1C5;
    margin: -9px -19px;
    font-size: 16px;
}

.info-exp p {
    margin-top: 20px;
    margin-left: -22px;
    font-size: 12px;
}

.info-exp p.price {
    font-size: 16px;
    color: black;
    margin-left: -180px;
    margin-top: 27px;
}


 /*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/

.buy-list {               
    margin: 50px 20px;
    position: absolute;
    top: 700px;  

}

.buy-list ul {
    margin-left: 40px;
}

.buy-list h2 {
    font-size: 17px;
    margin-top: -45px;
}

.buy-list p {
    margin: 10px 14px;
}

button.buy {
    width: 15%;
    margin-bottom: 15px;
    margin-left: 166px;
    background-color: #9BB1C5;
}



/*////////////////////////        MEDIAS QUERIES                /////////////////////////////////*/

@media(min-width:768px) {
    /*/////////////// HEADER ///////////////////*/



.logo{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 35px;
   
}
.barra{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 45%;
    height: 28px;
    margin-top: 20px;
    
}
.barra p{
    padding: 10px;
    margin-top:-8px;
    font-size: 18px;
}
.search{
    margin-top: 18px;
    margin-left: -255px;
    padding: 3px;
    font-size: 1.4em;
    text-align: center;
}
.user{
    display: flex;
    margin-top: 18px;
    margin-right: -75px;
    font-size: 1.8em;
    color: #5E81A3;
}

.shop{
    margin-top: 18px;
    margin-left: -4px;
    margin-right: -290px;
    font-size: 1.8em;
    color: #5E81A3;
    
}


/*////////////////// MAIN //////////////////////*/



main div.franja-decorativa {
    width: 120%;
}

/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/

main section article.food {
    display: flex;
    flex-direction: row;   
    width: 100%;
}

h3 {                                 /*////////// TITULO DE CADA EXPERIENCIA /////////////*/
    font-size: 6vw;
    margin-left: 190px;
    margin-top: 10px;
    width: 70%;
    position: absolute;
}

.description {                      
    font-size: 17px;
    margin-left: 11px;
    margin-top: 75px;
    position: absolute;
    width: 98%;
}

main section article img {
    width: 30%;
    margin: 127px -67px 300px 15px;
       
}


/*/////////////////////     BOTONES             //////////////////////*/
main section article div.gourmet-description {
    display: flex; 
    margin: 40px 50px;
}

main section article div.button {
    display: flex;
    margin-top: 5px;
}

main section article div.button p{
    margin-top: -1px;
    margin-right: 4px;
    font-size: 28px;
}

.less-button {
    width: 30px;
    height: 30px;
    margin-right: -38px;
}

.more-button {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.add-basket {
    background-color: #9BB1C5;
    margin-left: -120px;
    margin-top: 100px;
    font-size: 20px;
}

.info-exp div.button{
    margin-left: 160px;
    margin-top: 50px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.info-exp {
    margin-left: 100px;
    margin-top: 140px;
    
}

section article div.info-exp h3 {
    color:#9BB1C5;
    margin: -15px 25px;
    font-size: 26px;
}

.info-exp p {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 16px;
}

.info-exp p.price {
    font-size: 22px;
    color: black;
    margin-left: -160px;
    margin-top: 65px;
}

 /*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/

.buy-list {               
    margin: 50px 20px;
    position: absolute;
    top: 700px;  

}

.buy-list ul {
    margin-left: 40px;
}

.buy-list h2 {
    font-size: 20px;
    margin-top: 150px;
}

.buy-list p {
    margin: 10px 14px;
}

button.buy {
    width: 15%;
    height: 25px;
    margin-bottom: 15px;
    margin-left: 285px;
    background-color: #9BB1C5;
}

}
@media(min-width:1200px) {

   

    /*/////////////// HEADER ///////////////////*/


.logo{
    font-size: 25px;
    margin-top: 18px;
    margin-left: 110px;
   
}
.barra{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 45%;
    height: 40px;
    margin-top: 20px;
}
.barra p{
    padding: 10px;
    margin-top: -5px;
    font-size: 23px;
}
.search{
    margin-top: 18px;
    margin-left: -70px;
    padding: 3px;
    font-size: 1.8em;
}
.user{
    display: flex;
    margin-top: 16px;
    margin-right: -100px;
    font-size: 2.5em;
    color: #5E81A3;
}

.shop{
    margin-top: 16px;
    margin-left: -4px;
    margin-right: -370px;
    font-size: 2.5em;
    color: #5E81A3;
    
}



/*////////////////// MAIN //////////////////////*/

main {
    background-color: white;
}

main div.franja-decorativa {
    padding: 40px;
    font-size: 4vw;
    text-align: center;
    margin: 20px 0px 20px 0px;
    background-color: #9BB1C5;

}

/*//////////////////////////////////   INFORMACION POR EXPERIENCIA ///////////////////////*/

main section article.food {
    display: flex;
    flex-direction: row;   
    width: 100%;
}

h3 {                                 /*////////// TITULO DE CADA EXPERIENCIA /////////////*/
    font-size: 6vw;
    margin-left: 190px;
    margin-top: 10px;
    width: 70%;
    position: absolute;
}

.description {                      
    font-size: 25px;
    margin-left: 23px;
    margin-top: 150px;
    position: absolute;
    width: 100%;
}

main section article img {
    width: 20%;
    margin: 250px -67px 300px 75px;
       
}


/*/////////////////////     BOTONES             //////////////////////*/
main section article div.gourmet-description {
    display: flex; 
    margin: 40px 50px;
}

main section article div.button {
    display: flex;
    margin-top: 5px;
}

main section article div.button p{
    margin-top: -1px;
    margin-right: 4px;
    font-size: 28px;
}

.less-button {
    width: 30px;
    height: 30px;
    margin-right: -38px;
}

.more-button {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.add-basket {
    background-color: #9BB1C5;
    margin-left: -120px;
    margin-top: 190px;
    font-size: 20px;
}

.info-exp div.button{
    margin-left: 115px;
    margin-top: 140px;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.info-exp {
    margin-left: 100px;
    margin-top: 140px;
    
}

section article div.info-exp h3 {
    color:#9BB1C5;
    margin: 90px 25px;
    font-size: 45px;
}

.info-exp p {
    margin-top: 180px;
    margin-left: 50px;
    font-size: 25px;
    margin-bottom: -130px;
}

.info-exp p.price {
    font-size: 25px;
    color: black;
    margin-left: -35px;
    margin-top: 165px;
}

 /*//////////////  LISTA DE PRODUCTOS A COMPRAR ////////////*/

.buy-list {               
    margin: 50px 20px;
    position: absolute;
    top: 700px;  

}

.buy-list ul {
    margin-left: 40px;
    font-size: 25px;
}

.buy-list h2 {
    font-size: 30px;
    margin-top: 250px;
}

.buy-list p {
    margin: 10px 14px;
    font-size: 25px;
}

button.buy {
    width: 15%;
    height: 45px;
    margin-bottom: 15px;
    margin-left: 400px;
    background-color: #9BB1C5;
    font-size: 25px;
}

}
