*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/*//////////////////////////         MAIN               /////////////////////////////*/

.text-danger {
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.flecha i{
    font-size:1.5em ;
    color:#5E81A3;
    margin-left: 19px;
    margin-top: 5px;
    transition: color 450ms;
}
.flecha i:hover{
  color:#1E5488;
    
}
.formulario {
    width: 84%;
    background-color:aliceblue;
    margin-left: 27px;
    border-radius: 10px; 
    text-align: center;
}

.formulario h2{
    font-size: 18px;
    padding-top: 20px;
}
.completar-form{
    margin-top: 34px;
    margin-left: 7px;
}

.producto div{
    margin-top: 16px;
  
}
form .form-label{
    font-size: 15px;
}

.nombre, .descripcion, .imagen, .precio {
  display: flex;
  flex-direction: column;
}

.nombre input, .descripcion textarea, .precio input {
    width: 75%;
    margin-left: 28px;
} 

.producto input, .producto select{
    border-radius: 5px;
    border: #5E81A3 1px solid;
}

.descripcion textarea {
    margin-top: 5px;
    border: #5E81A3 1px solid;
}

.imagen input {
    margin-top: 10px;
}

.crear{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.crear button{
    background-color:#9BB1C5;
    border: #5E81A3 1px solid;
    box-shadow: 0px 0px 4px rgb(150, 150, 150);
    border-radius: 5px;
    padding: 5px;
    margin-top: 14px;
}


/*////////////////////////////      FOOTER               //////////////////////////////////*/

footer{
    margin-top: 46px;  
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h4{
    font-size: 12px;
    margin-left: 14px;
}
.footer-i{
    font-size: 1em;
    align-self: center;   
}
footer i {
    margin-right: 20px;
    color: #5E81A3;
}


@media(min-width:768px){


    /*////////////////// MAIN //////////////////////*/
    .flecha i{
        margin-left: 38px;
     }
    main {
        margin-top: 14px;
    }

    .formulario {
        width: 60%;
        margin-left: 154px;
    }
    .formulario h2{
        font-size: 22px;
    }

    .producto div{
        justify-content: center;
        margin-left: 95px;
        margin-top: 35px;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
    }

    form .form-label{
        font-size: 18px;
    }
    
    .producto div input, .categorias select, .personas select{
        font-size: 14px;
        text-align: center;
    }
    .crear button{
        border-radius: 8px;
        padding: 5px;
        font-size: 18px;
        margin: 25px 40px 14px 48px;
    }

    /*/////////////////////////////     FOOTER     ///////////////////////////////*/ 

    footer{
        margin-top: 90px;
        margin-left: -20px;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-evenly;
    }

    footer h4 {
        font-size: 15px;
    }

    .instagram, .twitter {
        font-size: 25px;
        margin-right: 10px;
    }
    
    }
    @media(min-width:1024px){

     /*////////////////// MAIN //////////////////////*/
        .flecha i{
            font-size: 2.2em;
            margin-left: 52px;
        }

        .formulario {
            margin-left: 222px;
        }

        .formulario h2{
            font-size: 40px;
        }

        form .form-label{
            font-size: 22px;
        }

        .nombre, .precio, .personas, .categorias {
            width: 40%;
        }

        .descripcion {
            width: 92%;
        }

        .descripcion textarea {
            height: 100px;
            width: 100%;
        }
        .descripcion .form-input{
            margin-left: -11px;
        }

        .producto div{
            font-size: 30px; 
            margin-left: 140px;
            padding-top: 35px;
        }
        
        .producto div input, .categorias select, .personas select{
            font-size: 22px;
        }

        .imagen {
            width: 80%;
        }
        .imagen input{
            margin-left: -40px;
        }

        .crear {
            width: 90%; }

        /*/////////////////////////////     FOOTER     ///////////////////////////////*/ 

        .footer-text {
            display: flex;
            flex-direction: row;
            width: 60%;
            justify-content: space-evenly;
        }

        footer h4 {
            font-size: 20px;
        }

        .instagram, .twitter {
            font-size: 30px;
            margin-right: 15px;
        }
   
    }

    @media(min-width:1440px){
  
         /*////////////////// MAIN //////////////////////*/
    
        .formulario {
            width: 45%;
            margin-left: 400px;
        }
        .formulario h2{
            font-size: 36px;
        }
    }