*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
   
}
/*//////////////////////// HEADER ///////////////////////*/
.logo a {
    text-decoration: none;
    color: black;
}
.menu-superior{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 0px;
    border-bottom: 1px solid #9BB1C5;
}
.menu{
    font-size: 1.8em;
    margin-left: 18px;
    margin-right: -20px;
    margin-top: 16px;
    color:#5E81A3;
}
.menu-superior h1{
    font-size: 24px;
    margin-top: 18px;  
    margin-left: 31px;
}
.barra input{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 85%;
    height: 32px;
    margin-top: 17px;
    margin-left: 16px;
    padding: 5px;
    font-size: 16px;
}
.barra i{
    margin-left: -26px;
}
.iconos{
    display: flex;
    margin-right: 27px;
    margin-top: 21px;
    font-size: 1.4em;
}
.iconos i{
    color:#5E81A3;
}
.user{
    margin-left: 12px;
}
.shop{
    margin-right: -11px;
    margin-left: 9px;
}
.menu-inferior{
    display: none;
}
/*//////////////////////////         MAIN               /////////////////////////////*/

.formulario {
    width: 80%;
    background-color:aliceblue;
    margin-left: 35px;
}

.formulario h2{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
}
.completar-form{
    margin-top: 34px;
    margin-left: 7px;
}

.producto div{
    margin-top: 20px;
  
}

.nombre .form-label{
    font-size: 15px;
}

.nombre, .descripcion, .imagen, .precio{
  display: flex;
  flex-direction: column;
}

.nombre input, .descripcion textarea, .precio input {
    width: 90%;
} 

.producto input, .producto select{
    border-radius: 5px;
}

.descripcion textarea {
    margin-top: 5px;
}

.imagen input {
    margin-top: 10px;
}

.crear{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.crear button{
    background-color:#9BB1C5;
    border: #5E81A3 1px solid;
    box-shadow: 0px 0px 4px rgb(150, 150, 150);
    border-radius: 5px;
    padding: 5px;
}


/*////////////////////////////      FOOTER               //////////////////////////////////*/

footer{
    margin-top: 50px;   
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h4{
    font-size: 12px;
}
.footer-i{
    font-size: 1em;
    align-self: center;
    
}

footer i {
    margin-right: 20px;
    color: #5E81A3;
}

@media(min-width:768px){

/*/////////////// HEADER ///////////////////*/
    .menu{
        display: none;
    }
   
    .menu-superior h1{
        margin-left: 34px;
        font-size: 34px;
        margin-top: 20px;
    }
    .barra {
        width: 100%;
    }
    .barra input{
        width: 55%;
        font-size: 18px;
        margin-left: 134px;
        margin-top: 21px;
        height: 42px;
        border-radius: 20px;
        padding: 8px;
    }
    .barra i{
        font-size: 1.4em;
        margin-left: -36px;
    }
    .iconos{
        margin-top: 27px;
    }
    .user{
        font-size: 1.2em;
        margin-right: 77px; 
        margin-left: -41px;
    }
    .shop{
        font-size: 1.2em;
        margin-right: 9px;  
        margin-left: -38px;
    }
    /*////////////////// MAIN //////////////////////*/
    main {
        margin-top: 50px;
    }

    .formulario {
        margin-left: 70px;
    }

    .formulario h2{
        font-size: 26px;
    }

    .producto div{
        margin-left: 40px;
        margin-top: 40px;
    }

    form .form-label{
        font-size: 18px;
    }
    
    .producto div input, .categorias select, .personas select{
        font-size: 14px;
    }
    .crear button{
        border-radius: 8px;
        padding: 5px;
        font-size: 18px;
        margin: 40px 40px 20px 0px;
    }

    /*/////////////////////////////     FOOTER     ///////////////////////////////*/ 

    footer{
        margin-top: 90px;
        margin-left: -20px;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-evenly;
    }

    footer h4 {
        font-size: 15px;
    }

    .instagram, .twitter {
        font-size: 25px;
        margin-right: 10px;
    }
    
    }
    @media(min-width:1024px){
    /*/////////////// HEADER ///////////////////*/
        .menu-superior h1{
            font-size: 50px;
            margin-left: 49px;
            margin-top: 32px;
        }
        .barra input{
            margin-left: 157px;
            margin-top: 34px;
            height: 58px;
            border-radius: 29px;
            font-size: 28px;
            padding: 12px;
        }
        .barra i{
            margin-left: -55px;
            font-size: 2em;
        }
        .iconos{
            font-size: 2em;
            margin-top: 41px;
        }
        .user{
            margin-left: -91px;
        }
        .shop{
            margin-right: 18px;
        }
        

     /*////////////////// MAIN //////////////////////*/

        .producto {
            display: flex;
            flex-wrap: wrap;
        }

        .formulario {
            margin-left: 100px;
        }

        .formulario h2{
            font-size: 40px;
        }

        form .form-label{
            font-size: 20px;
        }

        .nombre, .precio, .personas, .categorias {
            width: 40%;
        }

        .descripcion {
            width: 92%;
        }

        .descripcion textarea {
            height: 100px;
        }

        .producto div{
            font-size: 34px; 
            margin-left: 60px;
            padding-top: 35px;
        }
        
        .producto div input, .categorias select, .personas select{
            font-size: 18px;
        }

        .imagen {
            width: 80%;
        }

        .crear {
            width: 90%;
        }

        /*/////////////////////////////     FOOTER     ///////////////////////////////*/ 

        .footer-text {
            display: flex;
            flex-direction: row;
            width: 60%;
            justify-content: space-evenly;
        }

        footer h4 {
            font-size: 20px;
        }

        .instagram, .twitter {
            font-size: 30px;
            margin-right: 15px;
        }
   
    }

    @media(min-width:1200px){
  
         /*////////////////// MAIN //////////////////////*/
    
        .formulario {
            width: 60%;
            margin-left: 250px;
        }
    }