*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.banner{
    width: 102%;
    margin-top: -1px;
    object-fit: cover;
}

.how{
    display: flex;
    text-align: center;
    width: 70%;
    margin-left: 50px;
    margin-right: 80px;
    border-radius: 14px;
    margin-top: -30px;
    position: relative;
    z-index: 10;
    background-color:white;
    box-shadow: 0px 0px 10px rgb(90, 90, 90);
}
.how h3{
   font-size: 14px;
   margin: 16px 0px 18px 11px;
}

.how i{
    font-size: 1.4em;
    margin-left: 16px;
    margin-top: 12px;
    color:#5E81A3;
}
.how .flecha{
    color:#5E81A3;
}
.flecha i{ 
    color:#5E81A3;
    transition: color 450ms;
}
.flecha i:hover{
  color:#1E5488;
    
}
section h2{
    margin-left: 28px;
    margin-top: 38px;
    font-size: 18px;
}
.opciones{
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
}
.op1, .op2, .op3{
    border: 1px solid #9BB1C5;
    width: 76%;
    padding: 12px;
    margin-bottom: 75px;
    margin-left: 41px;
    margin-right: -22px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(140, 140, 140);
}
.op1 img,.op2 img,.op3 img{
    width: 98%;
    margin-left: 3px;
}
.op1 .categoria,.op2 .categoria,.op3 .categoria{
    font-size: 18px;
    color: #345D84;
}
.op1 i, .op2 i,.op3 i{ 
    padding-left: 4px;
    padding-right: 10px;
}
.opciones h2{
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    margin-left: 0px;
}
.op1 .descripcion,.op2 .descripcion,.op3 .descripcion{
    font-size: 16px;
    text-align: center;
}
.op1 .precio, .op2 .precio,.op3 .precio{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: #5E81A3;
}
.mas{
    text-align: center;
    max-width: 30%;
    margin-left: 118px;
    border-radius: 14px;
    background-color: #D8E7F5 ;
}
.mas a {
    text-decoration: none;
}
.mas h3{
    color: black;
    font-size: 20px;
    padding: 5px; 
}
.extra h3{
    text-align: center;
    position: relative;
    z-index: 10;
    font-size: 16px;
    padding: 8px;
    margin-bottom: -31px;
    margin-left: 216px;
    background-color: aliceblue;
    border-bottom: #345D84 1px solid;
    width: 30%;
    border-radius: 14px;
}
.extra img{
    width: 90%;
    margin-top: 36px;  
    margin-bottom: -37px;
    margin-left: 16px;  
    padding-top: 55px;
}
/*FOOTER*/
footer{
    margin-top: 110px;   
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h4{
    font-size: 12px;
    
}
.footer-i{
    font-size: 1em;
    align-self: center;   
}
footer i {
    margin-right: 20px;
    color: #5E81A3;
}

@media(min-width:768px){
    .banner{
        width: 100%;
    }
    .how{
        max-width: 37%;
        margin: -36px 0px 0px 241px;
        height: 68px;
    }
    .how i{
        font-size: 1.8em;
        margin-top: 19px;
    }
    .how h3{
      font-size: 20px;
      margin-top: 20px;
    }
    .destacados h2{
        font-size: 18px;
    }
    .opciones{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 38px -48px 39px 37px;
        width: 94% ;   
    }
    .opciones .categoria{
        font-size: 16px;
    }
    .opciones .descripcion{
        font-size: 13px;
    }
   
    .op1,.op2, .op3{
        margin-left: 11px;
        margin-right: 11px;
    }
    .op1{
        margin-left: -15px; 
    }
    .mas{
       max-width: 18%;
       margin-left: 317px;
    }
    .mas h3{
        font-size: 24px;
        padding: 7px;
     }   
    .extra{
        display: flex;
    }
    .extra img{
        width: 46%;
    }  
    .extra h3{
        margin-left: -145px;
        margin-right: 9px;
        height: 38px;
        margin-top: 72px;
        padding-top: 7px;
    }

  
/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 15px;
}

.instagram, .twitter {
    font-size: 25px;
    margin-right: 10px;
}
   }

   @media(min-width:1024px){
       .banner{
           width: 100%;
       }
       .how{
           height: 80px;
           margin-left: 315px;
           margin-top: -46px;
       }
       .how h3{
           font-size: 26px;
           margin: 26px 21px;
       }
       .how i{
           font-size: 2.5em;
           margin-left: 9px;
       }
       .destacados h2{
           font-size: 28px;
           margin: 57px 32px;
       }
       .opciones{
           width: 96%;    
       }
        .opciones .categoria{
            font-size: 22px;
        }
        .opciones .descripcion{
            font-size: 18px;
        }
        .opciones .precio, .opciones h2{
            font-size: 20px;
        }
       .mas{
           max-width: 20%;
           margin-left: 410px;
           margin-top: 30px;
       }
       .mas h3{
          padding: 19px;
          font-size: 32px;
       }
       .extra{
           margin-left: 21px;
           margin-right: -2px; 
       }
       .extra h3{
           font-size: 22px;
       }
       .extra .chicos{
           height: 60px;
       }
    
       /*FOOTER*/

footer{
    padding-top: 50px;
}       

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 20px;
}

.instagram, .twitter {
    font-size: 30px;
    margin-right: 15px;
}
   
    }
   
    
    @media(min-width:1280px){
       .banner{
          height: 650px;
      } 
      .how{
          margin-left:430px
      }
      .how i{
          margin-left: 35px;
      }
      .how h3{
          font-size: 28px;
          margin-left: 44px;
      }
      .mas {
          margin-left: 550px;
      }


    }



