*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/* MAIN */

.flecha i{
    font-size:1.6em ;
    color:#5E81A3;
    margin-left: 16px;
    margin-top: 15px;
    transition: color 450ms;
}
.flecha i:hover{
  color:#1E5488;
    
}
.tablet{
    display: none;
}
.desktop{
   display:none ;
}
h1{
    font-size: 16px !important;
    text-align: center;
    margin-left: 14px;
}
.regalo{
    margin-top: 12px;
    display: flex;
   
}
.regalo i{
    font-size: 1.4em;
    color: #145aa0;
    margin: 8px 10px 15px 18px;
}

.como h2{
    background-color: #c1d3e4;
    width: 100%;
    height: 69px;
    font-size: 22px;
    text-align: center;
    padding-top: 22px;
}

.nada{
    background-color: #c1d3e4;
    width: 100%;
    height: 69px;
}
.como h3{
    font-size: 16px;
    margin-left: 30px;
    padding: 24px 1px;
}
h3 i {
    font-size: 1.5em;
    color: #145aa0;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
}
section .titulo{
 margin-left: 15px;
}
.oportunidad1 img, .oportunidad2 img{
    width: 95%;
    border-radius: 10px;
    margin-left: 6px;
    margin-top: 5px;
  
}
.oportunidad1{
    border: 1px solid #5E81A3;
    border-radius: 10px;
    width: 67%;
    margin-left: 62px;
    margin-bottom: 36px;
}
 section .oportunidad2{
    border: 1px solid #5E81A3;
    border-radius: 10px;
    width: 67%;
    margin-left: 62px;
 }
 
 .oportunidad1 h3,.oportunidad2 h3{
     margin-top: 25px;
     font-size: 18px;
 }
 .categoria i{
     font-size: 1.2em;
     margin-left: 8px;
 }
 .oportunidad1 h4,.oportunidad2 h4{
     margin-bottom: 22px;
     font-size: 14px;
     margin-left: 10px;
 }

@media(min-width:768px){

   /* MAIN */
    .flecha i { 
        margin-left: 43px;
    }

    .tablet{
        display: block;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: none;
    }
    .regalo{
        justify-content: center;
        align-items: center;
        margin-left: -4px;
        margin-bottom: 14px;
    }
    .regalo h1{
        font-size: 20px !important;
    }
    section .titulo{
        margin-left: 63px;
    }
    section{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-left: -31px;
    }
    .como h3 {
        font-size: 18px;
        margin-left: 80px;
        padding: 40px 7px;
    }
    .oportunidades{
        margin-left: 14px;
        width: 90%;
    }
    .oportunidades img{
        margin-left: 7px;
        margin-top: 5px;
    }
    
    .categoria i{
        font-size: 1em;
        margin-left: 14px;
        padding-right: 20px;
    }
   
    .oportunidad1 h4, .oportunidad2 h4{
        font-size: 16px;
        margin-left: 5px;
    }
    .oportunidad2{
       margin-bottom: 36px;
    } 
}
@media(min-width:1024px){

    /* main */
    
    .flecha i{
        font-size: 2.2em;
        margin-left: 62px;
        margin-top: 10px;
    }
    .regalo {
      margin-left: 10px;
      margin-bottom: 25px;
    }
    .regalo i{
        font-size: 2.5em;
        margin-top: 3px;
    }
    .regalo h1{
        font-size: 26px !important;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: none;
    }
    .como h2{
        width: 100%;
        font-size: 30px;
        padding-top: 16px;
    }
    .como h3{
        font-size: 24px;
        margin-left: 100px;
        padding-top: 60px;
    }
    .como .nada{
        width: 100%;
    }
    section .titulo{
        font-size: 28px;
        margin-left: 125px;
    }
    .oportunidades{
        margin-left: 93px;
        width: 80%;
    }
    .oportunidades img{
        margin-left: 12px;
        margin-top: 12px;
    }
    .categoria i{
        font-size: 1.2em;
        margin-left: 14px;
        padding-right: 20px;
    }
    .oportunidad1 h3, .oportunidad2 h3{
        font-size: 24px;
    }
    .oportunidad1 h4, .oportunidad2 h4{
        font-size: 22px;
        margin-left: 10px;
    }
}

@media (min-width:1440px){
    main{
        margin-top: 20px;
    }
    .flecha i{
        font-size: 2.8em;
    }
    .regalo {
        margin: 45px 0px 25px 10px;
      }
      .regalo i{
          font-size: 3.0em;
      }
      .regalo h1{
          font-size: 30px !important;
      }
      .como h2{
        font-size: 32px;
     }
     .como h3{
        font-size: 28px;
        margin-left: 112px;
        padding-top: 92px;
     }
    
    .oportunidades{
        width: 70%;
       margin-left: 160px;
    }
}