*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/*//////////////////////// HEADER ///////////////////////*/
.menu-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.menu {
    display: none;
}

.logo a {
    text-decoration: none;
    color: black;
}
.menu-superior h1{
    font-size: 24px;
    margin-top: 14px;  
    margin-left: 15px;
}
.barra input{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 85%;
    height: 32px;
    margin-left: 16px;
    padding: 5px;
    font-size: 16px;
}
.barra i{
    margin-left: -26px;
}
.iconos{
    display: flex;
    margin-right: 27px;
    font-size: 1.4em;
}
.iconos i{
    color:#5E81A3;
}
.user{
    margin-left: 12px;
}
.shop{
    margin-right: -11px;
    margin-left: 9px;
}
.menu-inferior{
    display: none;
}

/* MAIN */

.flecha i{
    font-size:1.6em ;
    color:#5E81A3;
    margin-left: 16px;
    margin-top: 15px;
    transition: color 450ms;
}
.flecha i:hover{
  color:#1E5488;
    
}
.tablet{
    display: none;
}
.desktop{
   display:none ;
}
h1{
    font-size: 16px;
    text-align: center;
    margin-left: 14px;
}
.regalo{
    margin-top: 12px;
    display: flex;
   
}
.regalo i{
    font-size: 1.4em;
    color: #145aa0;
    margin-left: 15px;
    margin-top: 8px;
}

.como h2{
    background-color: #c1d3e4;
    width: 100%;
    height: 69px;
    font-size: 22px;
    text-align: center;
    padding-top: 22px;
}

.nada{
    background-color: #c1d3e4;
    width: 100%;
    height: 69px;
}
.como h3{
    font-size: 16px;
    margin-left: 30px;
    padding: 10px 1px;
}
h3 i {
    font-size: 1.5em;
    color: #145aa0;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
}
section .titulo{
 margin-left: 15px;
}
.oportunidad1 img, .oportunidad2 img{
    width: 95%;
    border-radius: 10px;
    margin-left: 6px;
    margin-top: 5px;
  
}
.oportunidad1{
    border: 1px solid #5E81A3;
    border-radius: 10px;
    width: 67%;
    margin-left: 62px;
    margin-bottom: 36px;
}
 section .oportunidad2{
    border: 1px solid #5E81A3;
    border-radius: 10px;
    width: 67%;
    margin-left: 62px;
 }
 
 .oportunidad1 h3,.oportunidad2 h3{
     margin-top: 25px;
     font-size: 18px;
 }
 .categoria i{
     font-size: 1.2em;
     margin-left: 8px;
 }
 .oportunidad1 h4,.oportunidad2 h4{
     margin-bottom: 22px;
     font-size: 14px;
     margin-left: 10px;
 }
 /*////////////////////////////      FOOTER               //////////////////////////////////*/
footer{
    margin-top: 35px;   
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h4{
    font-size: 12px;
    margin-left: 5px;
}
.footer-i{
    font-size: 1em;
    align-self: center;
    
}

footer i {
    margin-right: 20px;
    color: #5E81A3;
}


@media(min-width:768px){
    
    .menu-superior{
        margin-top: 12px;
        margin-bottom: -26px;
    }
    .menu-superior h1{
        margin-left: 34px;
        font-size: 34px;
        margin-top: 20px;
    }
    .barra {
        width: 100%;
    }
    .barra input{
        width: 55%;
        margin-left: 116px;
        height: 42px;
        border-radius: 20px;
        padding: 8px;
    }
    .barra i{
        font-size: 1.4em;
        margin-left: -36px;
    }
  
    .iconos{
        margin-top: 8px;
    }
    .user{
        font-size: 1.2em;
        margin-right: 23px; 
        margin-left: -10px;
    }
    .shop{
        font-size: 1.2em;
        margin-right: 12px;  
        margin-left: 2px;
    }

   /* MAIN */

   .flecha i { 
    margin-left: 37px;
    margin-top: 38px;
    }

    .tablet{
        display: block;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: none;
    }
    .regalo{
       justify-content: center;
    }
    section .titulo{
        margin-left: 63px;
    }
    section{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-left: -31px;
    }
    .oportunidades{
        margin-left: 14px;
        width: 90%;
    }
    .oportunidades img{
        margin-left: 7px;
        margin-top: 5px;
    }
    
    .categoria i{
        font-size: 1em;
        margin-left: 14px;
        padding-right: 20px;
    }
   
    .oportunidad1 h4, .oportunidad2 h4{
        font-size: 16px;
        margin-left: 5px;
    }
    .oportunidad2{
       margin-bottom: 36px;
    } 

    /* FOOTER */

    .footer-text {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-evenly;
    }
    
    footer h4 {
        font-size: 15px;
    }
    
    .instagram, .twitter {
        font-size: 25px;
        margin-right: 10px;
    }
}
@media(min-width:1024px){
    .menu-superior{
        margin-top: 26px;
    }
    .logo a{
        font-size: 46px;
        margin-left: 16px;
    }
    .barra input{
        width: 50%;
        margin-left: 174px;
        margin-top: 4px;
        height: 58px;
        border-radius: 29px;
        font-size: 24px;
        padding: 12px;
    }
    .barra i{
        margin-left: -55px;
        font-size: 2em;
    }
    .iconos{
        font-size: 1.9em;
        margin-top: 10px;
    }
    .user{
        margin-left: -91px;
    }
    .shop{
        margin-right: 18px;
    }

    /* main */
    
    .flecha i{
        font-size: 2.2em;
        margin-left: 56px;
        margin-top: 52px;
    }
    .regalo {
      margin-left: 10px;
    }
    .regalo i{
        font-size: 2.5em;
        margin-top: 20px;
    }
    .regalo h1{
        font-size: 30px;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: none;
    }
    .como h2{
        width: 100%;
        font-size: 32px;
        padding-top: 16px;
    }
    .como h3{
        font-size: 30px;
        margin-left: 45px;
        padding-top: 24px;
    }
    .como .nada{
        width: 100%;
    }
    section .titulo{
        font-size: 28px;
        margin-left: 125px;
    }
    .oportunidades{
        margin-left: 93px;
        width: 80%;
    }
    .oportunidades img{
        margin-left: 12px;
        margin-top: 12px;
    }
    .categoria i{
        font-size: 1.2em;
        margin-left: 14px;
        padding-right: 20px;
    }
    .oportunidad1 h3, .oportunidad2 h3{
        font-size: 24px;
    }
    .oportunidad1 h4, .oportunidad2 h4{
        font-size: 22px;
        margin-left: 10px;
    }
    footer{
        margin-top: 80px;
    }
    footer h4{
        font-size: 20px;
    }
    footer i{
        font-size: 1.5em;
    }
   
    
    

}








@media (min-width:1280px){
    .menu-superior h1{
        margin-left: 35px;
    }

    .barra input{
        width:45%;
        margin-right: 4px;
        margin-left: 317px;
    }
    .oportunidades{
        width: 70%;
       margin-left: 160px;
    }
}