* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    width: 100%;
    background-color: white; 
    font-family: 'Roboto', sans-serif; 
}

/*//////////////////////////         MAIN               /////////////////////////////*/
.flecha i{
    font-size:1.6em ;
    color:#5E81A3;
    margin-left: 16px;
    margin-top: 15px;
    transition: color 450ms;
}
.flecha i:hover{
  color:#1E5488;
    
}

main{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #eaf1f7 ;
    margin-top: 18px;
    max-width:75%;
    margin-left: 42px;
    border-radius: 10px;
    box-shadow: 3px -1px 10px 0px rgba(0,0,0,0.20);
}
h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

main section.login {
    display: flex;
    flex-direction: column;
}

main .email, 
.password {
    font-size: 14px;
    margin: 8px 23px;
    height: 35px;
    width: 80%;
    padding: 5px;
}

.text-danger {
    color: red;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

main .rimen-me {
    margin-top: 28px;
    font-size: 12px;
}
main .button-send {
    width: 50%;
    background-color:#5E81A3;
    border: #5E81A3 1px solid;
    box-shadow: 0px 0px 10px rgb(150, 150, 150);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 6px;
    margin-top: 20px;
}
.retrieve-pass {
    margin-top: 30px;
    font-size: 12px; 
}

.register-here {
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 15px;
}

.retrieve-pass a, .register-here a{
 text-decoration: none;
}

main section.options-login {
    display: flex;
    align-items: center;
    padding: 36px 27px;
}
main section.options-login button{
    padding: 2px;
    font-size: 4vw;
}

/*////////////////////////////   MEDIAS QUERIES /////////////////////////*/

@media (min-width: 768px){

.flecha i { 
        margin-left: 43px;
    }
main{
    max-width: 50%;
    margin: 19px 219px;
    border-radius: 22px;
}

main .email, 
.password {
    font-size: 16px;
    margin: 13px 28px;
}

div .text-danger {
    font-size: 12px;
}

main .rimen-me {
    margin-top: 34px;
    font-size: 14px;
    margin-right: 5px;
}

main .button-send {
    width: 40%;
    font-size: 20px;
    margin-top: 38px;
}

.retrieve-pass {
    font-size: 16px;
}

.register-here {
    font-size: 16px;
}

main section.options-login button {
    font-size: 2.5vw;
    margin-left: 125px;
}

}

@media (min-width:1024px){
/*///////       MAIN            //////////////*/

.flecha i{
    font-size: 2.2em;
    margin-left: 62px;
    margin-top: 10px;
}
main{
    max-width: 43%;
    margin-left: 298px;
}
h2 {
    font-size: 44px;
    margin-top: 25px;
    padding-top: 48px;
    padding-bottom: 0px;
}
main .email, 
.password {
    font-size: 18px;
    margin: 16px 39px;
    width: 80%;
    padding: 22px 12px;
}

.text-danger {
    font-size: 18px;
}

main .rimen-me {
    margin-top: 40px;
    font-size: 25px;
}
main .button-send {
    font-size: 28px;
    margin-top: 53px;
}

.retrieve-pass {
    margin-top: 40px
}

main section.options-login button {
    margin-left: 185px;
}

}

@media (min-width:1440px){
    
    /*///////       MAIN            //////////////*/
    .flecha i{
        font-size: 2.8em;
    }

    main {
        margin-left: 470px;
        max-width: 38%;
    }

    h2 {
        font-size: 50px;
        padding-top: 72px;
    }

    main .email, 
    .password {
        font-size: 24px;
        margin: 25px 48px;
        padding: 30px 13px;
    }
   
    main .button-send {
        width: 35%;
        font-size: 28px;
        margin-top: 60px;
        padding: 15px;
    }
    main .rimen-me {
        margin-top: 70px;
        font-size: 22px;
    }
    .retrieve-pass {
        margin-top: 30px;
        font-size: 22px;
    }
    
    .register-here {
        margin-top: 10px;
        font-size: 22px;
        margin-bottom: 30px;
    }
    
}
