* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    width: 100%;
    margin: 0%;
    font-family: "Roboto";
}

/*/////////////// HEADER ///////////////////*/
.menu-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.menu {
    display: none;
}

.logo a {
    text-decoration: none;
    color: black;
}
.menu-superior h1{
    font-size: 24px;
    margin-top: 14px;  
    margin-left: 15px;
}
.barra input{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 85%;
    height: 32px;
    margin-left: 16px;
    margin-top: 12px;
    padding: 5px;
    font-size: 16px;
}
.barra i{
    margin-left: -26px;
}
.iconos{
    display: flex;
    margin-right: 27px;
    margin-top: 13px;
    font-size: 1.4em;
}
.iconos i{
    color:#5E81A3;
}
.user{
    margin-left: 12px;
}
.shop{
    margin-right: -11px;
    margin-left: 9px;
}
.menu-inferior{
    display: none;
}

/*/////////////////////////////      NAV DESPLEGABLE         /////////////////////*/

.nav-desplegable {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

ul {
    list-style: none;
}

li a{
    text-decoration: none;
}

.filter {
    position: relative;
    justify-content: center;
}

.filter i {
    font-size: 10px;
    margin-left: 6px;
}

.item {
    position: absolute;
    display: none;
}


.filter:hover > .item {
    display: block;
}

/*/////////////////////////////        ASIDE           ////////////////////////////*/

.aside {
    display: none;
}


/*///////////////////////               MAIN           //////////////////////////*/

.all-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;
}

section h2{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #345D84;
}
.product-box {
    display: flex;
    flex-direction: column;
    width: 125px;
    margin: 10px 5px 10px 20px;
    height: 180px;
    position: relative;
}
.product-box a{
    text-decoration: none;
    color: #345D84;
}
.product-box img{
    width: 98%;
    margin-left: 3px;
}
.categoria{
    font-size: 18px;
    color: #345D84;
}

.product-box i { 
    padding-left: 4px;
    padding-right: 10px;
}

.descripcion {
    font-size: 12px;
    text-align: justify;
                                    /* Estas 3 lineas son para que no se vea todo el texto */
    overflow: hidden;               /* Para que no muestre elementos que queden fuera del contenedor  */   
    text-overflow: ellipsis;        /* Son los 3 puntitos suspensivos  */
    white-space: nowrap;            /* Esto ubica todo el texto en una sola linea */
}
.precio{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: #5E81A3;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

/*/////////////////////////        Botones página siguiente    ////////////////////////////*/
.page-buttons {
    text-align: center;
    margin-top: 30px;
}

.back-next {
    background-color: rgb(114, 165, 241);
    color: white;
    width: 20px;
    height: 20px;
}

.page {
    width: 15px;
}



/*/////////////////////////////     FOOTER     ///////////////////////////////*/ 

footer{
    margin-top: 46px;  
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h4{
    font-size: 12px;
    margin-left: 14px;
    padding-top: 5px;
}
.footer-i{
    font-size: 1em;
    align-self: center;
    
}

footer i {
    margin-right: 20px;
    color: #5E81A3;
}
/*////////////////////////        MEDIAS QUERIES                /////////////////////////////////*/

@media(min-width:768px) {
/*/////////////// HEADER ///////////////////*/
.menu-superior{
    margin-top: 18px;
    margin-bottom: 20px;
}
.menu-superior h1{
    margin-left: 34px;
    font-size: 34px;
    margin-top: 20px;
}
.barra {
    width: 100%;
}
.barra input{
    width: 55%;
    margin-left: 116px;
    height: 42px;
    border-radius: 20px;
    padding: 8px;
}
.barra i{
    font-size: 1.4em;
    margin-left: -36px;
}

.iconos{
    margin-top: 13px;
}
.user{
    font-size: 1.2em;
    margin-right: 23px; 
    margin-left: -10px;
}
.shop{
    font-size: 1.2em;
    margin-right: 12px;  
    margin-left: 2px;
}


/*/////////////////////////////        MAIN          ////////////////////////////*/

main {
    display: flex;
    flex-wrap: wrap;
}

.all-products {
    width: 70%;
    justify-content: space-between;
    margin-left: 15px;
}

/*/////////////////////////////        ASIDE        ////////////////////////////*/

.nav-desplegable {
    display: none;
}

.aside {                       /*      Caja de Aside          */
    display: flex;
    border: 1px solid #9BB1C5;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(140, 140, 140);
    margin-top: 40px;
    margin-left: 15px;
}

.aside-title {                /*          Filtrar y limpiar filtros      */
    margin: 10px 15px;
    display: flex;
    justify-content: space-between;   
}
.aside-title h2 {           /*          Filtrar            */
    font-size: 15px;
    
}

.aside-title h4{               /*         Limpiar filtros           */
    font-size: 10px;
    color: rgba(255, 0, 0, 0.815);
    padding-right: 5px;

}
hr {                          /*           Linea divisoria       */
    border-color: #eaeaea;
    border-top: 0 solid #eaeaea;
    width: 80%;
    margin-left: 15px;
}

.box-filters {                  /*          Caja contenedora de cada filtro          */
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
   
    
}

.items {          /*          Opción a elegir              */
    font-size: 12px;
}

.filter {                  /*       Título de cada filtro         */
    position: relative;
}

.filters i {            /*             Piquito ocultar filtro          */
    position: absolute;
    left: 20%;
}



/*///////////////////// FOOTER //////////////////*/


.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 15px;
}

.instagram, .twitter {
    font-size: 25px;
    margin-right: 10px;
}

}

@media(min-width:1024px) {
    /*/////////////// HEADER ///////////////////*/
    .menu-superior{
        margin-top: 26px;
    }
    .logo a{
        font-size: 46px;
        margin-left: 16px;
    }
    .barra input{
        width: 50%;
        margin-left: 174px;
        margin-top: 14px;
        height: 58px;
        border-radius: 29px;
        font-size: 24px;
        padding: 12px;
    }
    .barra i{
        margin-left: -55px;
        font-size: 2em;
    }
    .iconos{
        font-size: 1.9em;
        margin-top: 10px;
    }
    .user{
        margin-left: -91px;
    }
    .shop{
        margin-right: 18px;
    }

/*/////////////////////////////        ASIDE        ////////////////////////////*/

.filters i {            /*             Piquito ocultar filtro          */
    left: 15%;
}


/*/////////////////////////////        MAIN        ////////////////////////////*/

.product-box {
    width: 180px;
    height: 215px;
}

/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 25px;
}

.instagram, .twitter {
    font-size: 30px;
    margin-right: 15px;
}

}

@media(min-width:1200px) {
    /*/////////////// HEADER ///////////////////*/
.logo{
    font-size: 25px;
    margin-left: 20px;
}

.barra {
    height: 33px;
}

.barra input {
    padding-left: 5%;
    height: 30px;
    font-size: 20px;
}

.fa-search{
    font-size: 22px;
}

.user {
    font-size: 1.9em;
}


/*/////////////////////////////        ASIDE        ////////////////////////////*/

.filters i {            /*             Piquito ocultar filtro          */
    left: 11%;
}


/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 25px;
}

.instagram, .twitter {
    font-size: 30px;
    margin-right: 15px;
}

}


@media(min-width:1280px){

    .barra input{
        width:45%;
        height: 60px;
        margin-right: 4px;
        margin-left: 317px;
        margin-top: -2px;
        padding-left: 27px;
        font-size: 26px;
    }
    .user, .shop{
        font-size: 1.2em;
    }
    .iconos{
        margin-top: 22px;
    }
   
}