* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    font-family: "Roboto";
}

/*/////////////// HEADER ///////////////////*/
.menu-superior{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
a.menu {
    display: none;
}

.logo{
    font-size: 12px;
    margin-left: 15px;
   
}
.logo a {
    text-decoration: none;
    color: black;
}
.barra{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 50%;
    height: 28px;
    position: relative;
}
.barra input {
    border: none;
    background-color: transparent;
    padding-left: 10%;
    height: 28px;
}
.fa-search {
    position: absolute;
    top: 5px;
    right: 5%;
}
.barra p{
    padding: 10px;
    font-size: 18px;
}
.search{
    padding: 5px;
    font-size: 125%;
}
.user, a.shop{
    margin-right: 15px;  
    font-size: 1.3em;
    color: #5E81A3;
}

.menu-inferior{
    display: none;
}

/*/////////////////////////////      NAV DESPLEGABLE         /////////////////////*/

.nav-desplegable {
    width: 100%;
    display: flex;
    justify-content: center;

}

ul {
    list-style: none;
}

li a{
    text-decoration: none;
}

.filter {
    position: relative;
    justify-content: center;
}

.filter i {
    font-size: 10px;
    margin-left: 6px;
}

.item {
    position: absolute;
    display: none;

}

.filter:hover > .item {
    display: block;
}






/*/////////////////////////////        ASIDE           ////////////////////////////*/

.aside {
    display: none;
}


/*///////////////////////               MAIN           //////////////////////////*/



section h2{
    margin-left: 28px;
    margin-top: 38px;
    font-size: 18px;
}
section{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 33px;
}
.op1, .op2, .op3,.op4{
    border: 1px solid #9BB1C5;
    width: 76%;
    padding: 12px;
    margin-bottom: 75px;
    margin-left: 41px;
    margin-right: -22px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(140, 140, 140);
}
.op1 img,.op2 img,.op3 img,.op4 img{
    width: 98%;
    margin-left: 3px;
}
.op1 .categoria,.op2 .categoria,.op3 .categoria ,.op4 .categoria{
    font-size: 18px;
    color: #345D84;
}
.op4 .categoria a{
    text-decoration: none;
    color: #345D84;
}
.op1 i, .op2 i,.op3 i,.op4 i{ 
    padding-left: 4px;
    padding-right: 10px;
}
.opciones h2{
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    margin-left: 0px;
}
.op1 .descripcion,.op2 .descripcion,.op3 .descripcion,.op4 .descripcion{
    font-size: 16px;
    text-align: center;
}
.op1 .precio, .op2 .precio,.op3 .precio,.op4 .precio{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: #5E81A3;
}




/*/////////////////////////////     FOOTER     ///////////////////////////////*/ 

footer{
    margin-top: 30px;   
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer h4{
    font-size: 12px;
}
.footer-i{
    font-size: 1em;
    align-self: center;
    
}

footer i {
    margin-right: 20px;
    color: #5E81A3;
}



/*////////////////////////        MEDIAS QUERIES                /////////////////////////////////*/

@media(min-width:768px) {
/*/////////////// HEADER ///////////////////*/
.logo{
    font-size: 20px;
    margin-left: 15px;
}

.barra input {
    padding-left: 5%;
    height: 25px;
}

.user {
    font-size: 1.5em;
}

/*/////////////////////////////        ASIDE ////////////////////////////*/

.aside, .aside-title, .relevance, .category,
.participants, .location {
    display: flex;
}

.relevance, .category,
.participants, .location {
    flex-direction: column;
    
}

.mostsold, .news {
    flex-direction: column;
}



/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 15px;
}

.instagram, .twitter {
    font-size: 25px;
    margin-right: 10px;
}

}

@media(min-width:1024px) {
    /*/////////////// HEADER ///////////////////*/
.logo{
    font-size: 25px;
    margin-left: 20px;
}

.barra {
    height: 33px;
}

.barra input {
    padding-left: 5%;
    height: 30px;
    font-size: 20px;
}

.fa-search{
    font-size: 22px;
}

.user {
    font-size: 1.9em;
}



/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 25px;
}

.instagram, .twitter {
    font-size: 30px;
    margin-right: 15px;
}

}
