*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.logo a {
    text-decoration: none;
    color: black;
}
.menu-superior{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 0px;
    border-bottom: 1px solid #9BB1C5;
}
.menu{
    font-size: 1.8em;
    margin-left: 18px;
    margin-right: -20px;
    margin-top: 16px;
    color:#5E81A3;
}
.menu-superior h1{
    font-size: 24px;
    margin-top: 18px;  
    margin-left: 31px;
}
.barra input{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 85%;
    height: 32px;
    margin-top: 17px;
    margin-left: 16px;
    padding: 5px;
    font-size: 16px;
}
.barra i{
    margin-left: -26px;
}
.iconos{
    display: flex;
    margin-right: 27px;
    margin-top: 21px;
    font-size: 1.4em;
}
.iconos i{
    color:#5E81A3;
}
.user{
    margin-left: 12px;
}
.shop{
    margin-right: -11px;
    margin-left: 9px;
}
.menu-inferior{
    display: none;
}

.flecha i {
    color: #5E81A3;
    font-size: 1.7em;
    margin-top: 10px;
    margin-left: 19px;
}
.superior{
    display: flex;
}
.superior h1{
    margin-left: 48px;
}
.superior i {
    color: #F8B238 ;
    margin-top: 25px;
    margin-left: 25px;
}
.superior h3{
    color: #F8B238 ;
    margin-top: 23px;
    margin-left: 8px;
}
.detalle{
    max-width: 92%;
    margin-left: 18px;
}
.bar img{
    width: 90%;
    margin-left: 20px;
    border-radius: 8px;
}
article{
    margin-left: 20px;
}
article i{
    color: #6c8fb1;
}
article h4{
    font-size: 22px;
}
article input{
    margin-left: 86px;
    margin-bottom: 20px;
    width: 50%;
    height: 41px;
    border-radius: 14px;
    border:1px solid #5E81A3;
    background-color: #cedeee;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    font-size: 18px;
}
article img{
    width: 100%;
    margin-left: -13px;
    margin-top: 38px;
}

.oportunidad1 img, .oportunidad2 img{
    width: 95%;
    border-radius: 10px;
    margin-left: 6px;
    margin-top: 5px;
}
.oportunidad1{
    border: 1px solid #5E81A3;
    border-radius: 10px;
    width: 67%;
    margin-left: 62px;
    margin-top: 96px;
}
 section .oportunidad2{
    border: 1px solid #5E81A3;
    border-radius: 10px;
    width: 67%;
    margin-left: 62px;
    margin-top: 95px;
 }
 article .puntuacion, article .puntuacion2{
     display: flex;
 }
 .puntuacion i, .puntuacion2 i{
     color:#F8B238;
     margin-top: 19px;
     margin-left: 8px;
 }
 .puntuacion h2, .puntuacion2 h2{
    color:#F8B238;
    font-size: 20px;
 }
 .oportunidad1 h3,.oportunidad2 h3{
     margin-top: 25px;
     font-size: 16px;
     margin-left: 2px;
 }
 .categoria i{
     font-size: 1.2em;
     margin-left: 8px;
 }
 .oportunidad1 h4,.oportunidad2 h4{
     margin-bottom: 22px;
     font-size: 14px;
     margin-left: 10px;
 }

/*////////////////////////////      FOOTER               //////////////////////////////////*/
footer{
    margin-top: 30px;   
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h4{
    font-size: 12px;
}
.footer-i{
    font-size: 1em;
    align-self: center;
    
}

footer i {
    margin-right: 20px;
    color: #5E81A3;
}

@media(min-width:768px){
    .menu{
        display: none;
    }
    .menu-superior{
        margin-top: 0px;
        margin-bottom: 4px;
    }
    .menu-superior h1{
        margin-left: 34px;
        font-size: 34px;
        margin-top: 20px;
    }
    .barra {
        width: 100%;
    }
    .barra input{
        width: 55%;
        margin-left: 134px;
        margin-top: 21px;
        height: 42px;
        border-radius: 20px;
        padding: 8px;
    }
    .barra i{
        font-size: 1.4em;
        margin-left: -36px;
    }
    .iconos{
        margin-top: 27px;
    }
    .user{
        font-size: 1.2em;
        margin-right: 77px; 
        margin-left: -41px;
    }
    .shop{
        font-size: 1.2em;
        margin-right: 32px;  
        margin-left: -38px;
    }
    .detalle{
        margin-left: 45px;
    }
    .bar img{
        width: 70%;
        margin-left: 123px;
    }
    article{
        margin-left: 125px;
    }
    article input{
        margin-left: 120px;
        margin-top: 20px;
    }
    article img{
        width: 70%;
        margin-left: -3px;
        margin-top: 79px;
    }
   .oportunidades{
       display: flex;
       width: 90%;
   }
    /*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 15px;
}

.instagram, .twitter {
    font-size: 25px;
    margin-right: 10px;
}
    
    }
    @media(min-width:1024px){
    
        .menu-superior h1{
            font-size: 50px;
            margin-left: 49px;
            margin-top: 32px;
        }
        .barra input{
            margin-left: 227px;
            margin-top: 34px;
            height: 58px;
            border-radius: 29px;
            font-size: 28px;
            padding: 12px;
        }
        .barra i{
            margin-left: -55px;
            font-size: 2em;
        }
        .iconos{
            font-size: 2em;
            margin-top: 41px;
        }
        .user{
            margin-left: -91px;
        }
        .shop{
            margin-right: 18px;
        }
        .flecha i{
            font-size: 2.5em;
        }
        .superior h1{
            font-size: 34px;
            margin-left: 59px;
        } 
        .superior i{
            font-size: 2em;
            margin-top: 31px;
        } 
        .superior h3{
            font-size: 30px;
            margin-top: 32px;
        }
        .detalle{
            font-size: 22px;
            margin-bottom: 50px;
        }
        .bar img{
            width: 50%;
            margin-left: 62px;
            margin-top: 40px;
        }
       
        .bar{
            display: flex;
        }
        article{
            margin-left: 63px;
            margin-top: 6px;
        }
        article h3{
            font-size: 30px;
        }
        article p{
            font-size: 28px;
        }
        article h4{
            font-size: 29px;
        }
        article input{
            margin-left: 62px;
        }
      
        .oportunidades{
            width: 80%;
            margin-left: 78px;
            margin-bottom: 80px;
        }
        .oportunidades img{
            margin-top: 10px;
            margin-left: 10px;
        }
        .puntuacion i, .puntuacion2 i{
            font-size: 2em;
        }
        .puntuacion h2, .puntuacion2 h2{
            font-size: 26px;
        }
        .oportunidad1 h3, .oportunidad2 h3{
            font-size: 24px;

        }
        .oportunidad1 h4, .oportunidad2 h4{
            font-size: 22px;
        }
       
 /*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 20px;
}

.instagram, .twitter {
    font-size: 30px;
    margin-right: 15px;
}
        
    }