* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    font-family: "Roboto";
}

/*/////////////// HEADER ///////////////////*/
.menu-superior{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
a.menu {
    display: none;
}

.logo{
    font-size: 12px;
    margin-left: 15px;
   
}
.logo a {
    text-decoration: none;
    color: black;
}
.barra{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 50%;
    height: 28px;
    position: relative;
}
.barra input {
    border: none;
    background-color: transparent;
    padding-left: 10%;
    height: 28px;
}
.fa-search {
    position: absolute;
    top: 5px;
    right: 5%;
}
.barra p{
    padding: 10px;
    font-size: 18px;
}
.search{
    padding: 5px;
    font-size: 125%;
}
.user, a.shop{
    margin-right: 15px;  
    font-size: 1.3em;
    color: #5E81A3;
}

.menu-inferior{
    display: none;
}

/*/////////////////////////////      NAV DESPLEGABLE         /////////////////////*/

.nav-desplegable {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

ul {
    list-style: none;
}

li a{
    text-decoration: none;
}

.filter {
    position: relative;
    justify-content: center;
}

.filter i {
    font-size: 10px;
    margin-left: 6px;
}

.item {
    position: absolute;
    display: none;
}


.filter:hover > .item {
    display: block;
}






/*/////////////////////////////        ASIDE           ////////////////////////////*/

.aside {
    display: none;
}


/*///////////////////////               MAIN           //////////////////////////*/



.all-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;
}

section h2{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #345D84;
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 125px;
    margin: 10px 5px 10px 20px;
    height: 180px;
    position: relative;

}

.product-box img{
    width: 98%;
    margin-left: 3px;
}
.categoria{
    font-size: 18px;
    color: #345D84;
}

.product-box i { 
    padding-left: 4px;
    padding-right: 10px;
}

.descripcion {
    font-size: 12px;
    text-align: justify;
}
.precio{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: #5E81A3;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

/*/////////////////////////        Botones página siguiente    ////////////////////////////*/
.page-buttons {
    text-align: center;
    margin-top: 30px;
}

.back-next {
    background-color: rgb(114, 165, 241);
    color: white;
    width: 20px;
    height: 20px;
}

.page {
    width: 15px;
}



/*/////////////////////////////     FOOTER     ///////////////////////////////*/ 

footer{
    margin-top: 30px;   
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer h4{
    font-size: 12px;
}
.footer-i{
    font-size: 1em;
    align-self: center;
    
}

footer i {
    margin-right: 20px;
    color: #5E81A3;
}



/*////////////////////////        MEDIAS QUERIES                /////////////////////////////////*/

@media(min-width:768px) {
/*/////////////// HEADER ///////////////////*/
.logo{
    font-size: 20px;
    margin-left: 15px;
}

.barra input {
    padding-left: 5%;
    height: 25px;
}

.user {
    font-size: 1.5em;
}

/*/////////////////////////////        MAIN          ////////////////////////////*/

main {
    display: flex;
    flex-wrap: wrap;
}

.all-products {
    width: 70%;
    justify-content: space-between;
    margin-left: 15px;
}

/*/////////////////////////////        ASIDE        ////////////////////////////*/

.nav-desplegable {
    display: none;
}

.aside {                       /*      Caja de Aside          */
    display: flex;
    width: 100%;
    border: 1px solid #9BB1C5;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(140, 140, 140);
    margin-top: 40px;
}

.aside-title {                /*          Filtrar y limpiar filtros      */
    margin: 10px 15px;
    display: flex;
    justify-content: space-between;
    
}

.aside-title h2 {           /*          Filtrar            */
    font-size: 15px;
    
}

.aside-title h4{               /*         Limpiar filtros           */
    font-size: 10px;
    color: rgba(255, 0, 0, 0.815);
    padding-right: 5px;

}
hr {                          /*           Linea divisoria       */
    border-color: #eaeaea;
    border-top: 0 solid #eaeaea;
    width: 80%;
    margin-left: 15px;
}

.box-filters {                  /*          Caja contenedora de cada filtro          */
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
   
    
}

.items {          /*          Opción a elegir              */
    font-size: 12px;
}

.filter {                  /*       Título de cada filtro         */
    position: relative;
}

.filters i {            /*             Piquito ocultar filtro          */
    position: absolute;
    left: 20%;
}



/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 15px;
}

.instagram, .twitter {
    font-size: 25px;
    margin-right: 10px;
}

}

@media(min-width:1024px) {
    /*/////////////// HEADER ///////////////////*/
.logo{
    font-size: 25px;
    margin-left: 20px;
}

.barra {
    height: 33px;
}

.barra input {
    padding-left: 5%;
    height: 30px;
    font-size: 20px;
}

.fa-search{
    font-size: 22px;
}

.user {
    font-size: 1.9em;
}



/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 25px;
}

.instagram, .twitter {
    font-size: 30px;
    margin-right: 15px;
}

}
