*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/*//////////////////////// HEADER ///////////////////////*/
.logo a {
    text-decoration: none;
    color: black;
}
.menu-superior{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 0px;
    border-bottom: 1px solid #9BB1C5;
}
.menu{
    font-size: 1.8em;
    margin-left: 18px;
    margin-right: -20px;
    margin-top: 16px;
    color:#5E81A3;
}
.menu-superior h1{
    font-size: 24px;
    margin-top: 18px;  
    margin-left: 31px;
}
.barra input{
    border:1px solid #9BB1C5;
    border-radius: 14px;
    width: 85%;
    height: 32px;
    margin-top: 17px;
    margin-left: 16px;
    padding: 5px;
    font-size: 16px;
}
.barra i{
    margin-left: -26px;
}
.iconos{
    display: flex;
    margin-right: 27px;
    margin-top: 21px;
    font-size: 1.4em;
}
.iconos i{
    color:#5E81A3;
}
.user{
    margin-left: 12px;
}
.shop{
    margin-right: -11px;
    margin-left: 9px;
}
.menu-inferior{
    display: none;
}

/*/////////////////////////            MAIN                ////////////////////////////////*/

.product-detail {
    background-color:aliceblue;
    width: 90%;
    margin: 30px 0px 0px 17px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    border:1px solid #8ea3b8;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
}

.title {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-evenly;
}

.flecha {
    margin-top: 25px;
}

.flecha i {
    color: #5E81A3;
    font-size: 15px;
    margin-left: 25px;
}
.superior{
    display: flex;
    flex-direction: row;
}

.superior i {
    color: #F8B238 ;
    margin: 25px 0px 0px 25px;
}
.superior h3{
    color: #F8B238 ;
    margin: 23px 0px 0px 8px;
}
.detalle{
    max-width: 92%;
    margin-left: 18px;
    text-align: justify;
}
.product-image{
    width: 90%;
    margin-left: 20px;
    border-radius: 8px;
}
article{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
article i{
    color: #6c8fb1;
}
article h4{
    font-size: 22px;
}
article .botones{
    display: flex;
}

article input{
    margin-left: 60px;
    margin-bottom: 20px;
    width: 50%;
    height: 41px;
    border-radius: 14px;
    border:1px solid #5E81A3;
    background-color: #cedeee;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    font-size: 18px;
}
button{
    height: 35px;
    width: 90px;
    margin-left: 25px;
    border-radius: 14px;
    border:1px solid #5E81A3;
    background-color: #cedeee;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    font-size: 18px;

}
article a{
    text-decoration: none;
    color:black;
}
.payment{
    margin: 38px 0px 30px 0px;
    
}

.payment img {
    width: 95%;
}

/*///////////////////////////////////////////////////////////*/

.oportunidad1 img, .oportunidad2 img{
    width: 95%;
    border-radius: 10px;
    margin-left: 6px;
    margin-top: 5px;
}
.oportunidad1{
    border: 1px solid #5E81A3;
    border-radius: 10px;
    width: 67%;
    margin-left: 62px;
    margin-top: 96px;
}
 section .oportunidad2{
    border: 1px solid #5E81A3;
    border-radius: 10px;
    width: 67%;
    margin-left: 62px;
    margin-top: 95px;
 }
 article .puntuacion, article .puntuacion2{
     display: flex;
 }
 .puntuacion i, .puntuacion2 i{
     color:#F8B238;
     margin-top: 19px;
     margin-left: 8px;
 }
 .puntuacion h2, .puntuacion2 h2{
    color:#F8B238;
    font-size: 20px;
 }
 .oportunidad1 h3,.oportunidad2 h3{
     margin-top: 25px;
     font-size: 16px;
     margin-left: 2px;
 }
 .categoria i{
     font-size: 1.2em;
     margin-left: 8px;
 }
 .oportunidad1 h4,.oportunidad2 h4{
     margin-bottom: 22px;
     font-size: 14px;
     margin-left: 10px;
 }

/*////////////////////////////      FOOTER               //////////////////////////////////*/
footer{
    margin-top: 30px;   
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h4{
    font-size: 12px;
}
.footer-i{
    font-size: 1em;
    align-self: center;
    
}

footer i {
    margin-right: 20px;
    color: #5E81A3;
}

@media(min-width:768px){
/*/////////////// HEADER ///////////////////*/
.menu{
    display: none;
}

.menu-superior h1{
    margin-left: 34px;
    font-size: 34px;
    margin-top: 20px;
}
.barra {
    width: 100%;
}
.barra input{
    width: 55%;
    font-size: 18px;
    margin-left: 134px;
    margin-top: 21px;
    height: 42px;
    border-radius: 20px;
    padding: 8px;
}
.barra i{
    font-size: 1.4em;
    margin-left: -36px;
}
.iconos{
    margin-top: 27px;
}
.user{
    font-size: 1.2em;
    margin-right: 77px; 
    margin-left: -41px;
}
.shop{
    font-size: 1.2em;
    margin-right: 9px;  
    margin-left: -38px;
}

/*//////////////////////////          MAIN          ///////////////////////*/
.product-detail{
    width: 80%;
    margin-left: 75px;
}
.title {
    justify-content: flex-start ;
}
.flecha{
    margin-top: 55px;
}
.flecha i {
    font-size: 30px;
}
.superior{
    margin-left: 150px;
}

.superior h1 {
    font-size: 45px;
}

.superior i {
    color: #F8B238 ;
    margin: 55px 0px 0px 55px;
    font-size: 25px;
}
.superior h3{
    color: #F8B238 ;
    margin: 50px 0px 0px 8px;
    font-size: 30px;
}
.detalle{
    font-size: 22px;
}

.product-image{
    width: 65%;
    margin: 30px 0px 0px 100px;
}
article div h3{
    font-size: 25px;
    margin-top: 50px;
}

article div p {
    font-size: 20px;
}

article input{
    margin: 30px 0px 25px 200px;
    width: 30%;
    height: 41px;
    font-size: 23px;
}

article .botones{
    justify-content: start;
    margin-left: 160px;
}


/*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 15px;
}

.instagram, .twitter {
    font-size: 25px;
    margin-right: 10px;
}
    
}
@media(min-width:1024px){
/*/////////////// HEADER ///////////////////*/
.menu-superior h1{
    font-size: 50px;
    margin-left: 49px;
    margin-top: 32px;
}
.barra input{
    margin-left: 157px;
    margin-top: 34px;
    height: 58px;
    border-radius: 29px;
    font-size: 28px;
    padding: 12px;
}
.barra i{
    margin-left: -55px;
    font-size: 2em;
}
.iconos{
    font-size: 2em;
    margin-top: 41px;
}
.user{
    margin-left: -91px;
}
.shop{
    margin-right: 18px;
}

/*//////////////////////////          MAIN          ///////////////////////*/
.product-detail{
    margin-left: 100px;
}

.flecha{
    margin-top: 65px;
}
.flecha i {
    font-size: 30px;
}
.superior{
    margin-left: 150px;
}

.superior h1 {
    font-size: 55px;
}

.superior i {
    margin: 65px 0px 0px 40px;
    font-size: 30px;
}
.superior h3{
    margin: 60px 0px 0px 8px;
    font-size: 35px;
}
.detalle{
    font-size: 30px;
}

.bar {
    display: flex;
}

.product-image{
    width: 50%;
    height: 50%;
    margin: 90px 0px 0px 25px;
}
article div h3{
    font-size: 25px;
    margin-top: 25px;
}

article div h3, p, h4 {
    margin-left: 15px;
}

article input{
    margin: 0px 0px 25px 130px;
    width: 30%;
    height: 41px;
    font-size: 23px;
}

article .botones{
    margin-left: 60px;
}
        
 /*///////////////////// FOOTER //////////////////*/

.footer-text {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
}

footer h4 {
    font-size: 20px;
}

.instagram, .twitter {
    font-size: 30px;
    margin-right: 15px;
}
        
}

@media(min-width:1200px){
    
    /*//////////////////////////          MAIN          ///////////////////////*/
    .product-detail{
        width: 60%;
        margin-left: 250px;
    }
}