*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    font-family: 'Roboto', sans-serif;
}

.col-md-3 h2{
    margin-left: 10px;
    margin-top: 66px;
}

.col-md-3 img{
    width: 300px;
    margin-left: 10px;
}
.alert {
    display: inline;
    margin-left: 10px;
    background-color: #9BB1C5;
    color: #3b5f85;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
}

/*---------FOOTER-----------*/
footer{
    position: fixed;
    bottom: 0;
    left: 0; 
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer h4{
    font-size: 12px;  
    margin-left: 6px;
    margin-bottom: 5px;
}
footer i {
    margin-left: 60px;
    color: #5E81A3;
}
.footer-i .instagram{
    margin-left: 63px;
    margin-right: -38px;
}

@media(min-width:768px){
    
    div .col-md-3{
        text-align: center;

    }
    .col-md-3 h2{
       font-size: 30px;
       margin-left: 40px;
       margin-top: 104px;
    }
    .col-md-3 img{
       width: 50%;
       margin-top: 40px;
       margin-left: 40px; 
       margin-bottom: 51px;
    }
    .alert {
        font-size: 24px;
        border-radius: 18px;
        margin-left: 40px;    
    }

    /*------------FOOTER---------------*/
    .footer-text {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
    }
   
    footer h4 {
        font-size: 18px;
        margin-right: 30px;
    }
    .instagram, .twitter {
        font-size: 25px;
        margin-right: 24px;
      
    }
    footer{
        position: relative;
        margin-top: 80px;
    }
}
@media(min-width:1024px){
   
    .col-md-3{
        padding-top: 33px;
    }
    .alert {
        font-size: 28px;
        border-radius: 20px;    
    }

    /*---------FOOTER----------*/
    .footer-container{
        margin-top: 140px;
    }
    footer h4 {
        font-size: 20px;
    }
    .instagram, .twitter {
        font-size: 30px;
    }
}

@media(min-width:1280px){
    
    .col-md-3 h2, .alert{
        font-size: 38px;
    }
}