*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    font-family: 'Roboto', sans-serif;
}

.col-md-3 h2{
    margin-left: 10px;
    margin-top: 66px;
}

.col-md-3 img{
    width: 300px;
    margin-left: 10px;
}
.alert {
    display: inline;
    margin-left: 10px;
    background-color: #9BB1C5;
    color: #3b5f85;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
}

@media(min-width:768px){
    
    div .col-md-3{
        text-align: center;

    }
    .col-md-3 h2{
       font-size: 30px;
       margin-left: 40px;
       margin-top: 104px;
    }
    .col-md-3 img{
       width: 50%;
       margin-top: 40px;
       margin-left: 40px; 
       margin-bottom: 51px;
    }
    .alert {
        font-size: 24px;
        border-radius: 18px;
        margin-left: 40px;    
    }
}
@media(min-width:1024px){
   
    .col-md-3{
        padding-top: 33px;
    }
    .alert {
        font-size: 28px;
        border-radius: 20px;    
    }

}

@media(min-width:1440px){
    
    .col-md-3 h2, .alert{
        font-size: 38px;
    }
}