* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

/*//////////////////////////         MAIN               /////////////////////////////*/
.flecha i{
    font-size:1.5em ;
    color:#5E81A3;
    margin-left: 16px;
    margin-top: 12px;
    transition: color 450ms;
}
.flecha i:hover{
  color:#1E5488;   
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #D8E7F5 ;
    margin-top: 18px;
    max-width:85%;
    margin-left: 27px;
    border-radius: 10px;
}
h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section .name,
.lastName,
.email,
.password,
.birthdate {
    font-size: 12px;
    margin: 8px 30px;
    height: 35px;
    width: 80%;
    padding: 5px;
}

.text-danger {
    color: red;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.imagen {
    margin-top: 15px;
}

.imagen label{    /*/////////////   Imagen de perfil ////////////////////*/
    font-size: 13px;
    font-weight: bold;
}

.imagen input{    /*//////////////////   Seleccionar archivo        /////////////////////////////*/
    font-size: 11px;
}

.checkbox{
    margin: 30px 0px 15px 45px;
    font-size: 12px;
    width: 70%;
    
}

.register-accept {
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .register-button{
    background-color:#5E81A3;
    border: #5E81A3 1px solid;
    color: white;
    width: 119px;
    height: 34px;
    margin: 15px;
    border-radius: 5px;
    padding: 9px 24px;
}

/*////////////////////////////   MEDIAS QUERIES /////////////////////////*/

@media(min-width:768px){

/*///////////////////// MAIN ///////////////////////////////////*/
.flecha i { 
    margin-left: 36px;
    margin-top: 64px;
 }

main{
    width:50%;
    margin: 45px 195px;
    border-radius: 10px;
}

div .text-danger {
    font-size: 12px;
}

.checkbox{
    font-size: 15px;
    width: 80%;
}

.imagen label {
    font-size: 14px;
}

.imagen input {
    font-size: 13px;
    margin: 10px 0px 10px 30px;
}

}
@media(min-width:1024px){

/*///////////////////// MAIN ///////////////////////////////////*/
.flecha i { 
    font-size: 2.1em;
    margin-left: 56px;
    margin-top: 74px;
}
.text-danger {
    font-size: 18px;
}

section.register {
    margin-top: 50px;
}

h2 {
    font-size: 48px;
    margin-top: 25px;
}
main{
    margin-left: 266px;
}

main section .name, .lastName, .email, .password, .birthdate {
    font-size: 18px;
    margin: 16px 10px;
    height: 40px;
    padding: 20px 12px;
}
.imagen label{
    font-size: 18px;
}
.imagen input{
    font-size: 18px;
}
main section .register-button{
    width: 35%;
    height: 44px;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 25px;
} 

.checkbox {
    font-size: 18px;
}

}

/* @media(min-width:1200px){ 

   main {
     max-width: 40%;
     margin-left: 350px;
   }
   
   main section .name, .lastName, .email, .password, .birth-date {
       width: 80%;
   }
   
   } */

   @media (min-width:1440px){

    main{
        margin-left: 427px;
    }
    .birthdate{
        margin-left: 51px;
    }
    
}