* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

/*//////////////////////////         MAIN               /////////////////////////////*/
.flecha i{
    font-size:1.6em ;
    color:#5E81A3;
    margin-left: 16px;
    margin-top: 15px;
    transition: color 450ms;
}
.flecha i:hover{
  color:#1E5488;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #eaf1f7 ;
    margin-top: 18px;
    max-width:80%;
    margin-left: 34px;
    border-radius: 10px;
    box-shadow: 3px -1px 10px 0px rgba(0,0,0,0.20);
}
h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section .name,
.lastName,
.email,
.password,
.birthdate {
    font-size: 12px;
    margin: 8px 23px;
    height: 35px;
    width: 80%;
    padding: 5px;
}

.text-danger {
    color: red;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.imagen {
    margin-top: 15px;
}

.imagen label{   
    font-size: 13px;
    font-weight: bold;
}

.imagen input{   
    font-size: 11px;
}

.checkbox{
    margin: 30px 0px 15px 25px;
    font-size: 12px;
    width: 80%;
    
}

.register-accept {
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .register-button{
    background-color:#5E81A3;
    border: #5E81A3 1px solid;
    color: white;
    width: 119px;
    height: 34px;
    margin: 15px;
    border-radius: 5px;
    padding: 7px 18px;
}

/*////////////////////////////   MEDIAS QUERIES /////////////////////////*/

@media(min-width:768px){

/*///////////////////// MAIN ///////////////////////////////////*/
.flecha i { 
    margin-left: 43px;
}

main{
    max-width: 50%;
    margin: 45px 219px;
    border-radius: 22px;
}

div .text-danger {
    font-size: 12px;
}

.checkbox{
    font-size: 15px;
    width: 80%;
    margin-left: 29px;
}

.imagen label {
    font-size: 14px;
}

.imagen input {
    font-size: 13px;
    margin: 10px 0px 10px 0px;
}

}
@media(min-width:1024px){

/*///////////////////// MAIN ///////////////////////////////////*/
.flecha i{
    font-size: 2.2em;
    margin-left: 62px;
    margin-top: 10px;
}
.text-danger {
    font-size: 18px;
}

section.register {
    margin-top: 17px;
}

h2 {
    font-size: 48px;
    margin-top: 25px;
    padding-top: 61px;
}
main{
    margin-left: 266px;
}

main section .name, .lastName, .email, .password {
    font-size: 18px;
    margin: 16px 10px;
    width: 60%;
    padding: 22px 12px;
}
.birthdate{
    font-size: 18px;
    margin: 22px 46px;
    padding: 20px 12px; 
}

.imagen label{
    font-size: 18px;
}
.imagen input{
    font-size: 18px;
}
main section .register-button{
    width: 35%;
    height: 44px;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 25px;
} 
.checkbox {
    font-size: 18px;
    margin-left: 46px;
}

}

   @media (min-width:1440px){
    .flecha i{
        font-size: 2.8em;
    }

    main{
        margin-left: 470px;
        max-width: 38%;
    }
    h2 {
        font-size: 50px;
        padding-top: 72px;
    }
    main section .name, .lastName, .email, .password {
        font-size: 22px;
        margin: 25px 0px;
        width: 55%;
        padding: 24px 13px;
    }
    .birthdate{
        font-size: 22px;
        margin: 36px 67px;
    }
    .imagen label, .imagen input {
        font-size: 22px;
    }

    .checkbox {
        font-size: 20px;
        margin-left: 71px;
    }
    main section .register-button {
        height: 55px;
        font-size: 26px;
        margin-top: 40px;
        margin-bottom: 50px;
        padding:11px;
    }
}