<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EXP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href ="/normalize.css">
    <link rel ="stylesheet" href = "../style/homestyles.css">
    
</head>
<body>
    <header class="menu-principal">
        <div class="menu-superior">
            <a class="menu" href="#" ><i class="fas fa-bars"></i></a>    
            <h1 class="logo"><a href="/">EXP</a></h1>    
            <div class="barra">
                <input type="search" placeholder="Buscar"> 
                <i class="fas fa-search"></i>
            </div>
            <div class="iconos">
                <a class="user" href="/login"><i class="fas fa-user"></i></a>
                <a class="shop" href="/basket"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
         <nav class = "menu-inferior">
             <ul>
                <li><a href="#">CATEGORÍAS</a></li>
                <li><a href="#">OFERTAS</a></li>
                <li><a href="#">AYUDA</a></li>
             </ul>
         </nav>
    </header>
    <main>
        <section class="banner">
            <img src = "../images/SkBAKpnSG_1256x620__1.webp" class = "banner" >
        </section>
        <section class="how">
            <i class="far fa-question-circle"></i>
            <h3>COMO LO HACEMOS</h3>
            <a class="flecha" href="/how"><i class="fas fa-arrow-right"></i></a>
        </section>
        <section class="destacados">
            <h2>DESTACADOS</h2>
            <section class="opciones">
                <article class="op1">
                    <img src = "../images/7641_Mishiguene_Fayer_045PhSantiagoSotoMonllor.jpg" class = "opcion1" >
                    <p class="categoria"><i class="fas fa-utensils"></i>GASTRONOMÍA</p>
                    <h2>Noche Gourmet</h2>
                    <p class="descripcion">Cena de lujo en los mejores restaurantes de la ciudad </p>
                    <p class="precio">Desde $4.500</p>
                </article>
                <article class="op2">
                    <img src = "../images/5-razones-para-no-ir-mas-al-cine-1.jpg" class = "opcion2" >
                    <p class="categoria"> <i class="far fa-star"></i>ENTRETENIMIENTO</p>
                    <h2>Cine time</h2>
                    <p class="descripcion">Disfruta de las mejores películas</p>
                    <p class="precio">Desde $500</p>
                </article>
                <article class="op3">
                    <img src = "../images/Turismo-aventura-kayak.jpg" class = "opcion3" >
                    <p class="categoria"><i class="fas fa-running"></i>AVENTURA</p>
                    <h2>Actividad al aire libre</h2>
                    <p class="descripcion">Paseo en kayak, por los paisajes más lindos</p>
                    <p class="precio">Desde $8.000</p>
                </article> 
                <article class="op4">
                    <img src = "../images/CLSYPPRKVRBENOOOD5PAX6WQN4.jpg" class = "opcion3" >
                    <p class="categoria"><a href="/productDetail"><i class="fas fa-utensils"></i>GASTRONOMÍA</a></p>
                    <h2>Bares del momento</h2>
                    <p class="descripcion">Viví las noches porteñas probando las mejores cervezas</p>
                    <p class="precio">Desde $700</p>
                </article> 
            </section>
        </section>
            <div class="mas">
                <h3>Ver más</h3>
            </div>
       
        <article class="extra"> 
            <img src = "../images/la-usina-del-arte-1.webp" class = "imagen1" >
            <h3>RECITALES</h3>
            <img src = "../images/5eecdf96aa08b.image.jpg" class = "imagen2" >
            <h3 class="chicos">PARA LOS CHICOS</h3>
        </article>
       
</main>
        
        <footer>
            <h4>Políticas y garantías </h4>
            <h4>Términos y condiciones</h4>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
            <a class="twitter"href="#"><i class="fab fa-twitter"></i></a>
        </footer>
</body>
</html>