<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href ="/normalize.css">
    <link rel ="stylesheet" href = "../style/productDetail.css">
</head>
<body>
    <header>
        <div class="menu-superior">
            <a class="menu" href="#" ><i class="fas fa-bars"></i></a>    
            <h1 class="logo"><a href="/">EXP</a></h1>    
            <div class="barra">
                <input type="search" placeholder="Buscar"> 
                <i class="fas fa-search"></i>
            </div>
            <div class="iconos">
                <a class="user" href="/login"><i class="fas fa-user"></i></a>
                <a class="shop" href="/basket"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        
    </header>
    <main>
        <div class="flecha">
            <a class="flechaI" href="/"><i class="fas fa-arrow-left"></i> </a>
        </div>
        <section class="superior">
            <h1>BAR</h1>
            <i class="fas fa-star"></i>
            <h3 class="puntuacion">4.5</h3>
        </section>
        <p class="detalle">Tendras opciones de distintos bares para disfrutar de unas cervezas y un tapeo variado con quien quieras. </p>
        <section class="bar" >
            <img src="../images/img_cerveza-surtida-hd.jpg">
        </section>
        <article>
            <h3>Acerca de este producto:</h3>
            <p class="personas"><i class="fas fa-user-friends"></i> Para 2 personas</p>
            <p class="dia"><i class="fas fa-calendar-day"></i> Hasta el 8/03/22</p>
            <p class="opciones"><i class="fas fa-map-marker"></i> 5 opciones de bares</p>
            <h4 class="precio">$2.500</h4>
            <input class="button-send" type="submit" value="Comprar">
            <img src="../images/formas-pago-2.png">
        </article>
        <section class="oportunidades">
            <article class="oportunidad1">
                <img src = "../images/01393_veleros-lightbox01_96_260x180_f.jpg" class = "imagen1" >
                <div class="puntuacion">
                    <i class="fas fa-star"></i>
                    <h2 class="puntuacion">4.1</h2>
                </div>
                <h3 class="categoria"><i class="fas fa-running"></i>AVENTURA</h3>
                <h4>Paseo en velero por el Río de La Plata al atardecer</h4>   
            </article>
            <article class="oportunidad2">
                <img src = "../images/05693_cena-picasso-01_22_260x180_f.jpg" class = "imagen2" >
                <div class="puntuacion2">
                    <i class="fas fa-star"></i>
                    <h2 class="puntuacion">3.8</h2>
                </div>
                <h3 class="categoria"><i class="fas fa-utensils"></i>GASTRONOMÍA</h3>
                <h4>Proba los mejores vinos con quien más quieras</h4>

            </article>
        </section>
        <footer>
            <h4>Políticas y garantías </h4>
            <h4>Términos y condiciones</h4>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
            <a class="twitter"href="#"><i class="fab fa-twitter"></i></a>
        </footer>

    </main>
   
</body>
</html>