<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Tu carrito</title>
    <link rel="stylesheet" href="/style/basket.css">
</head>
<body>
    <header>

    </header>

    <main>
        <h1>Tu carrito de compras</h1>
        <section>
            <div class="buy-list">
                <h2> Resumen de compra:</h2>
                <p>Productos:</p>
                <ol>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
                <p>Total:</p>
            </div>
        </section>
        <section class="products">
            
                <article>
                    <img class="Imagen-product" src="/Images/experiencia.gourmet.png" alt="Experiencia Gourmet">
                    <div class="gourmet-description">
                        <h3><b>Experiencia Gourmet</b></h3>
                        <p class="description">Cenas únicas para dos personas.</p>
                        <p class="price"><b>$4.530</b></p>
                        <div class="button">
                            <button class="less-button">-</button>
                            <p>1</p>
                            <button class="more-button">+</button>
                         </div>
                         <div>
                            <button class="add-basket"><b>Añadir al carrito</b></button>
                         </div>
                    </div>
                 </article>
                 <article>
                    <img class="Imagen-product" src="/Images/flyboard.png" alt="flyboard">
                    <div class="flyboard-description">
                        <h3><b>Flyboard</b></h3>
                        <p class="description">Aventura para volar sobre el agua y llenarte de adrenalina.</p>
                        <p><b>$6.200</b></p>
                        <div class="button">
                            <button class="less-button">-</button>
                            <p>1</p>
                            <button class="more-button">+</button>
                         </div>
                         <div>
                            <button class="add-basket"><b>Añadir al carrito</b></button>
                         </div>
                    </div>
                 </article>
                
        </section>
        
    </main>
</body>
</html>