<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como lo hacemos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href ="/normalize.css">
    <link rel ="stylesheet" href = "/style/how.css">
</head>
<body>
    <header>
        <div class="menu-superior">
            <a class="menu" href="#" ><i class="fas fa-bars"></i></a>    
            <h1 class="logo">EXP</h1>    
            <div class="barra">
                <h3>Buscar</h3>
                <i class="fas fa-search"></i>
            </div>
            <div class="iconos">
                <a class="user" href="/login"><i class="fas fa-user"></i></a>
                <a class="shop" href="/basket"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        
    </header>
    <main>
        <a class="flecha" href="/"><i class="fas fa-arrow-left"></i></a>
        <section>
            <i class="fas fa-gift"></i>
            <h1>Regalá diferente, regalá experiencias!</h1>
        </section>
        <article>
            <h2>CÓMO FUNCIONA</h2>
            <h3 class="desktop"><i class="fas fa-desktop"></i>  Elegí la experiencia que más te guste</h3>
            <h3 class="tablet"><i class="fas fa-tablet-alt"></i>  Elegí la experiencia que más te guste</h3>
            <h3 class="mobile"><i class="fas fa-mobile-alt"></i></i>  Elegí la experiencia que más te guste</h3>
            <h3 class="codigo"><i class="fas fa-qrcode"></i>  Recibí el código</h3>
            <h3 class="feliz"><i class="far fa-smile-beam"></i>  Disfruta</h3>
        </article>
        
    </main>
</body>
</html>