<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EXP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel ="stylesheet" href = "/homestyles.css">
    
</head>
<body>
    <header class="menu-principal">
        <div class="menu-superior">
        <div class="menu"><i class="fas fa-bars"></i></div>    
        <div class="logo"><h2>EXP</h2></div>    
        <div class="barra">
            <p>Buscar</p>
        </div>
        <div class="search"><i class="fas fa-search"></i></div>
         <div class="user"><p>Mi perfil</p><i class="fas fa-user"></i></div>
         <div class="shop"><i class="fas fa-shopping-cart"></i></div>
        </div>
         <nav class = "menu-inferior">
             <ul>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Ayuda</a></li>
             </ul>
         </nav>
    </header>
    <body>
        <section class="banner">
            <img src = "/images/SkBAKpnSG_1256x620__1.webp" class = "banner" >
        </section>
        <article class="how">
            <div class="pregunta"><i class="far fa-question-circle"></i></div>
            <p>COMO LO HACEMOS</p>
        </article>
        <section>
            <h1>DESTACADOS</h1>
            <div class="opciones">
                <div class="op1">
                    <img src = "/images/7641_Mishiguene_Fayer_045PhSantiagoSotoMonllor.jpg" class = "opcion1" >
                    <p class="categoria"><i class="fas fa-utensils"></i>GASTRONOMÍA</p>
                    <h2>Noche Gourmet</h2>
                    <p class="descripcion">Cena de lujo en los mejores restaurantes de la ciudad para dos personas. </p>
                    <p class="precio">Desde $5.000</p>
                </div>
                <div class="op2">
                    <img src = "/images/5-razones-para-no-ir-mas-al-cine-1.jpg" class = "opcion2" >
                    <p class="categoria"> <i class="far fa-star"></i>ENTRETENIMIENTO</p>
                    <h2>Cine time</h2>
                    <p class="descripcion">Disfruta de las mejores películas.</p>
                    <p class="precio">Desde $500</p>
                </div>
                <div class="op3">
                    <img src = "/images/Turismo-aventura-kayak.jpg" class = "opcion3" >
                    <p class="categoria"><i class="fas fa-running"></i>AVENTURA</p>
                    <h2>Actividad al aire libre</h2>
                    <p class="descripcion">Paseo en kayak, por los paisajes más lindos.</p>
                    <p class="precio">Desde $8.000</p>
                </div> 
                <div class="op4">
                    <img src = "/images/CLSYPPRKVRBENOOOD5PAX6WQN4.jpg" class = "opcion3" >
                    <p class="categoria"><i class="fas fa-utensils"></i>GASTRONOMÍA</p>
                    <h2>Bares del momento</h2>
                    <p class="descripcion">Viví las noches porteñas de la mano de una gran variedad de distintas cervezas.</p>
                    <p class="precio">Desde $700</p>
                </div> 
            </div>
            <div class="mas">
                <p>Ver más</p>
            </div>
        </section>
        <section class="agregado">
        <div class="extra"> 
            <p>RECITALES</p>
            <img src = "/images/la-usina-del-arte-1.webp" class = "imagen1" >
        </div>
        <div class="extrados">
            <p>A LAS AFUERAS</p>
            <img src = "/images/download.jpg" class = "imagen2" >
        </div>
    </section>
        
        
        <footer>
            <p>Términos y condiciones</p>
            <div class="instagram"> <i class="fab fa-instagram"></i></div>
            <div class="twitter"><i class="fab fa-twitter"></i></div>
     
        </footer>

    </body>
    
</body>
</html>