<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>
    <header class="menu-principal">
        <div class="menu-superior">    
        <div class="logo"><h2>EXP</h2></div>    
        <div class="barra">
            <p>Buscar</p>
        </div>
        <div class="search"><i class="fas fa-search"></i></div> 
        <!--<div class="user">
             <a href="/login"><i class="fas fa-user"></i></a>
        </div>  -->
        <div class="shop">
             <a href="/basket"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
        </div>
         <nav class = "menu-inferior">
             <ul>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Ayuda</a></li>
             </ul>
         </nav>
    </header>
    <main>
        <form action="/" method="POST">
             <h2>Iniciar seción</h2>
             <section class="login">
                <div  class="user-name">
                <input type="text" name="user" placeholder="Nombre de usuario">
                </div>
                <div class="pass">
                <input type="password" name="pass" placeholder="Contraseña">
                </div>
                <div class="rimen-me">
                    <input type="checkbox" name="remin-me"> Recordarme
                </div>
                <div >
                <input class="button-send" type="submit" value="Iniciar sesión">
                </div>
                <label class="retrieve-pass"> ¿Olvidaste tu contraseña?  <a href="#">Recupérala aquí</a></label>
                <br>
                <br>
                <label class="register-here"> ¿No tenés una cuenta? <a href="/register">  Regístrese aquí</a></label>  
             </section>
        </form>
        <section class="options-login">
            <button><i class="fas fa-key"></i>Opciones de inicio de sesión</button>
        </section>

    </main>
             
            
    
</body>
</html>