<div>
    <form action="">
        <div class="aside-title">
            <h2>Filtrar</h2>
            <h4>Limpiar filtros</h4>
        </div>
        <div class="relevance">
            <label>Relevancia</label>
                <div class="mostsold"><input type="checkbox" name="mostSold"> Más vendidas</div>
                <div class="news"></div><input type="checkbox" name="news"> ¡Nuevas!</div>
        </div>

        <div class="category">
            <label>Categorias</label>
                <input type="radio" name="gastronomy"> Gastronomía
                <input type="radio" name="adventure"> Aventura
                <input type="radio" name="entertainment"> Entretenimiento
        </div>

        <div class="participants">
            <label>Participantes</label>
                <input type="radio" name="onePerson"> Para 1 persona
                <input type="radio" name="twoPersons"> Para 2 personas
                <input type="radio" name="morePersons"> Para más de 2 personas
        </div>
       
        <div class="location">
            <label>Locación</label>
                <input type="checkbox" name="location1"> CABA
                <input type="checkbox" name="location2"> Buenos Aires
                <input type="checkbox" name="location3"> Córdoba
                <input type="checkbox" name="location4"> GBA Oeste
                <input type="checkbox" name="location5"> GBA Norte
                <input type="checkbox" name="location6"> GBA Sur
                <input type="checkbox" name="location7"> Santa Fe
                <input type="checkbox" name="location8"> Mendoza
        </div>

    </form>

</div>

