 <footer>
    <div class="franja-decorativa"></div>
    <div class="footer-container">
        <div class="footer-text">
            <h4>Políticas y garantías </h4>
            <h4>Términos y condiciones</h4>
        </div>
        <div class="footer-i">
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
            <a class="twitter"href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>