<header class="menu-principal">
    <div class="menu-superior">
        <a class="menu" href="#" ><i class="fas fa-bars"></i></a>    
        <h1 class="logo"><a href="/">EXP</a></h1>    
        <div class="barra">
            <input type="search" placeholder="Buscar"> 
            <i class="fas fa-search"></i>
        </div>
        <div class="iconos">
            <a class="user" href="user/login"><i class="fas fa-user"></i></a>
            <a class="shop" href="/basket"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
     <nav class = "menu-inferior">
         <ul>
            <li><a href="#">CATEGORÍAS</a></li>
            <li><a href="#">OFERTAS</a></li>
            <li><a href="#">AYUDA</a></li>
         </ul>
     </nav>
     <div class="franja-decorativa"></div>
</header>