<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Tu carrito</title>
    <link rel="stylesheet" href="/style/basket.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <%- include ("../partials/header") %>
    <main>
        
        <section class="products">
                <article class="food">
                    <h3 class="title-product">Experiencia Gourmet</h3>
                    <p class="description">Esta Experiencia, para dos personas, ofrece la posibilidad de disfrutar de una experiencia gastronómica única en los mejores restaurantes de Argentina.</p>
                    <div class="product-container">
                        <div class="imagen-product">
                            <img src="/Images/experiencia.gourmet.png" alt="Experiencia Gourmet">
                        </div>
                        <div class="info-exp">
                            <h3>Acerca de esta experiencia</h3>
                                <div>
                                    <p><i class="fas fa-user-friends"></i> Para 2 personas</p>
                                    <p><i class="far fa-calendar-alt"></i> Se puede usar hasta el 31/12/2022</p>
                                    <p><i class="fas fa-gifts"></i> Contiene varias opciones</p>
                                    <p><i class="fas fa-sync"></i> Se puede cambiar por otra Experiencia</p>
                                    <p><i class="far fa-credit-card"></i> Varias formas de pago</p>
                                </div>
                        </div>
                    </div>
                            <div class="gourmet-description">                                              
                                <p class="price"> $5.500</p>
                                <div class="button">
                                    <button class="less-button">-</button>
                                    <p>1</p>
                                    <button class="more-button">+</button>
                                 </div>
                                 <div>
                                    <button class="add-basket">Añadir al carrito</button>
                                 </div>
                            </div>
                    </div>
                
                 </article>     
        </section>
        <section class="total-buy">
            <div class="buy-list">
                <h2> Resumen de compra:</h2>
                <p>Productos:</p>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>Total:</p>
            </div>
            <button class="buy">Comprar</button>
        </section>
        
    </main>
    <%- include ("../partials/footer") %> 
</body>
</html>
