<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como lo hacemos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href ="/normalize.css">
    <link rel ="stylesheet" href = "/style/how.css">
</head>
<body>
    <header>
        <div class="menu-superior">
            <a class="menu" href="#" ><i class="fas fa-bars"></i></a>    
            <h1 class="logo"><a href="/">EXP</a></h1>    
            <div class="barra">
                <input type="search" placeholder="Buscar"> 
                <i class="fas fa-search"></i>
            </div>
            <div class="iconos">
                <a class="user" href="/login"><i class="fas fa-user"></i></a>
                <a class="shop" href="/basket"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        
    </header>
    <main>
        <a class="flecha" href="/"><i class="fas fa-arrow-left"></i></a>
        <section class="regalo">
            <i class="fas fa-gift"></i>
            <h1>Regalá diferente, regalá experiencias!</h1>
        </section>
        <article class="como">
            <h2>CÓMO FUNCIONA</h2>
            <h3 class="desktop"><i class="fas fa-desktop"></i>  Elegí la experiencia que más te guste</h3>
            <h3 class="tablet"><i class="fas fa-tablet-alt"></i>  Elegí la experiencia que más te guste</h3>
            <h3 class="mobile"><i class="fas fa-mobile-alt"></i></i>  Elegí la experiencia que más te guste</h3>
            <h3 class="codigo"><i class="fas fa-qrcode"></i>  Recibí el código</h3>
            <h3 class="feliz"><i class="far fa-smile-beam"></i>  Disfrutá</h3>
            <div class="nada"></div>
        </article>
        <section>
            <h3 class="titulo">Oportunidades</h3>
        </section>
        
        <section class="oportunidades">
            <article class="oportunidad1">
                <img src = "/images/01393_veleros-lightbox01_96_260x180_f.jpg" class = "imagen1" >
                <div class="puntuacion">
                    <i class="fas fa-star"></i>
                    <h2 class="puntuacion">4.1</h2>
                </div>
                <h3 class="categoria"><i class="fas fa-running"></i>AVENTURA</h3>
                <h4>Paseo en velero por el Río de La Plata al atardecer</h4>   
            </article>
            <article class="oportunidad2">
                <img src = "/images/05693_cena-picasso-01_22_260x180_f.jpg" class = "imagen2" >
                <div class="puntuacion2">
                    <i class="fas fa-star"></i>
                    <h2 class="puntuacion">3.8</h2>
                </div>
                <h3 class="categoria"><i class="fas fa-utensils"></i>GASTRONOMÍA</h3>
                <h4>Proba los mejores vinos con quien más quieras</h4>

            </article>
        </section>
        
    </main>
    <%- include ("../partials/footer") %> <!--FOOTER-->
</body>
</html>