<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body>
    <%- include ("../partials/header") %>
    <main>
        <form action="/user/login" method="POST">
             <h2>Iniciar sesión</h2>
             <section class="login">
                <div  class="email">
                    <input class="email" type="email" name="email" placeholder="Correo electrónico">
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="password">
                <input type="password" name="password" placeholder="Contraseña">
                </div>
                <div class="rimen-me">
                    <input type="checkbox" name="remember_user"> Recordar mi usuario
                </div>
                <div >
                <input class="button-send" type="submit" value="Iniciar sesión">
                </div>
                <label class="retrieve-pass"> ¿Olvidaste tu contraseña?  <a href="#">Recupérala aquí</a></label>
                <label class="register-here"> ¿No tenés una cuenta? <a href="user/register">  Regístrese aquí</a></label>  
             </section>
        </form>
        <section class="options-login">
            <button><i class="fas fa-key"></i>Opciones de inicio de sesión</button>
        </section>
        
    </main>
    <%- include ("../partials/footer") %>      
            
    
</body>
</html>
