<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creá tu cuenta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="/style/register.css">
</head>
<body>
    <header class="menu-principal">
        <div class="menu-superior">
        <!-- <div class="menu"><i class="fas fa-bars"></i></div>  -->  
        <div class="logo"><h2><a href="/">EXP</a></h2></div>    
        <div class="barra">
            <p>Buscar</p>
        </div>
        <div class="search"><i class="fas fa-search"></i></div>
        <!-- <div class="user">
             <a href="/login"><i class="fas fa-user"></i></a>
        </div> -->
        <div class="shop">
             <a href="/basket"><i class="fas fa-shopping-cart"></i></a>
        </div>
        </div>
         <nav class = "menu-inferior">
             <ul>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Ayuda</a></li>
             </ul>
         </nav>
    </header>
    <main>
        <form action="/" method="POST">
             <h2>¡Creá Tu Cuenta!</h2>
             <section class="register">
                <div  class="user-name">
                    <input class="name" type="text" name="name" placeholder="Nombre">
                    <input class="last-name" type="text" name="last-name" placeholder="Apellido">
                </div>
                <div>
                    <input class="email" type="email" name="email" placeholder="Correo electrónico">
                </div>
                <div >
                    <input class="pass" name="pass" placeholder="Contraseña">
                </div>
                <div>
                    <input class="birth-date" name="birth-date" placeholder="Fecha de Nacimiento   DD/MM/AAAA">
                </div>

        </form>
        <section class="checkbox">
            <div>
            <input type="checkbox" name="terms-and-conditions"> He leído y acepto todos los <strong> términos y condiciones</strong> del sitio.
        </div>
        </section>
        <section >
            <button class="register-button">Registrarme</button>
        </section>

    </main>
    
</body>
</html>